[2016-05-26 13:13] #1116 closed

[2016-05-26 13:14] otsakir commented on #1019
updated asciidoc article.

[2016-05-26 13:14] #1019 closed

[2016-05-27 07:39] gvagenas opened #1118 "NPE durinig initialization of GenerateInstanceId"

[2016-05-27 08:06] gvagenas opened #1119 "Dial Forking when all branches are canceled, dial action is not executed"

[2016-05-27 11:21] otsakir opened #1120 "AdminUI info dialog is not displayed"
The link on the top right of the screen that shows the info dialog in AdminUI does not work. Probably a regression issue after upgrading to ui-router.

[2016-05-27 11:59] #1118 closed

[2016-05-27 11:59] #1119 closed

[2016-05-27 12:06] #968 closed

[2016-05-27 12:06] #1120 closed

[2016-05-27 12:16] otsakir opened #1121 "Show info modal to administrator only - AdminUI"
The info modal window should be displayed only to accounts with administrator privileges.

[2016-05-27 12:38] deruelle commented on #1010
@zahidMed were you able to make progress or you faced any blockers ?

[2016-05-27 13:18] gvagenas opened #1122 "Change pom group.id to org.restcomm"

[2016-05-27 13:26] rlimonta commented on #376
@deruelle I studied the metrics library and I believe it is a good idea.

What you think on the central server?

It will be a our environment? or not?

[2016-05-27 13:29] deruelle commented on #376
@rlimonta I don't mind going with something that is not our environment, something like openshift may be good as well. The faster the better so we can start collecting community metrics as soon as possible. We can then iterate on refining the library and solution as we learn more.

[2016-05-27 13:42] rlimonta commented on #376
@deruelle Ok Jean, I'll work on that idea right now.

[2016-05-29 22:31] deruelle opened #1123 "Add missing Documentation for Monitoring API"
Please add asciidoc documentation for https://github.com/RestComm/Restcomm-Connect/issues/283

[2016-05-30 09:44] zahidMed commented on #1010
no blocking point. I will speed-up.

[2016-05-30 09:57] deruelle commented on #1010
no worries, just keep us regularly updated.

[2016-05-30 14:51] #1123 closed

[2016-05-30 14:51] #804 closed

[2016-05-30 15:54] hamsterksu opened #1124 "cache-uri is wrong for external media server options"
Hi

i have found a bug: `cache-uri` doesn't contains restcomm `port`
in case if external mediaserver is specified

https://github.com/RestComm/Restcomm-Connect/blob/d663828440f51a5687ea78aad0caa0cc94daf5be/restcomm/configuration/config-scripts/as7-config-scripts/restcomm/autoconfig.d/config-restcomm.sh#L430

https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/configuration/config-scr

[2016-05-30 16:00] hamsterksu commented on #1124
@leftyb, @hrosa it's very important for our customer. is it possible to get it today?

[2016-05-30 16:18] deruelle commented on #1124
@hamsterksu can you do a pull request for this ? this will help speed up the process.

[2016-05-30 16:38] atsakiridis opened #1125 "Expose QoS stats in Restcomm-Connect"
Consider creating an API for mobile/web clients to upload QoS reports that can then be organized and returned by Restcomm-Connect. Related to

[code]

[2016-05-30 16:45] hamsterksu commented on #1124
@deruelle i have added PR

[2016-05-30 16:59] rlimonta commented on #376
@deruelle I implemented a client module using the Metrics library and commited into my github.

https://github.com/rlimonta/restcomm-stats

We need to define the strategy for the back-end. I like the idea of using OpenShift with MongoDB and Restful WebServices.

I would like your opinion about it.

After we define, I'll start this layer.

[2016-05-31 03:18] muhammadbilal19 commented on #1
@gvagenas @deruelle  I started working on API development for Queue and Member.
## http://127.0.0.1:8080/restcomm/2012-04-24/Accounts/ACae6e420f425248d6a26948c17a9e2acf/Queues

[code]

[code]

### http://127.0.0.1:8080/restcomm/2012-04-24/Accounts/ACae6e420f425248d6a26948c17a9e2acf/Queues

[code]

[code]

### http://127.0.0.1:8080/restcomm/2012-04-24/Accounts/ACae6e420f425248d6a26948c17a9e2acf/Que

[2016-05-31 03:44] muhammadbilal19 commented on #1
One thing which is not available in Members API is this post method https://www.twilio.com/docs/api/rest/member#instance-post according to the documentation, this method is use to dequeue a member and set the URL and method to begin the call. According to my understanding i don't need to save **Url** and **Method** values for members as it needs to execute the rcml only. Although i am currently tr

[2016-05-31 06:25] maria-farooq commented on #5
### Problem:
code changes are in this method: https://github.com/RestComm/Restcomm-Connect/pull/991/files#diff-4edb5fb66002dc96d4ba5d2e6ac4ca33R250
When a conference is first started I try to mute one participant:
Result? call get muted.
But: i get following exception in server logs:
`
23:13:52,299 INFO  [org.mobicents.servlet.restcomm.mscontrol.mgcp.MmsCallController] (RestComm-akka.actor.default

[2016-05-31 07:57] maria-farooq commented on #5
here are media server logs:
[code]

[2016-05-31 08:54] maria-farooq commented on #5
[Archive.zip](https://github.com/RestComm/Restcomm-Connect/files/290661/Archive.zip)

[2016-05-31 09:26] gvagenas commented on #5
@maria-farooq the pcap trace doesn't contain any sip traffic. Can you check again?

[2016-05-31 10:12] maria-farooq commented on #5
hi @gvagenas attaching fresh logs,they have confirmed sip traffic.

[Archive.zip](https://github.com/RestComm/Restcomm-Connect/files/290818/Archive.zip)

in mediaserver log

[code]

[2016-05-31 10:18] maria-farooq commented on #5
I tried feeding extra memory as well to mediaserver as guided by @hrosa
https://github.com/RestComm/mediaserver/blob/master/bootstrap/src/main/config/run.sh#L137

[2016-05-31 10:18] deruelle opened #1127 "Allow multiple Text To Speech engines at the same time"
it would make sense to allow multiple Speech Synthesizers and specify which language each synthetiser is responsible for so we can pick the best ones for each language. It's rare than one is good at all of them

[2016-05-31 11:48] gvagenas commented on #5
@maria-farooq
I can see RMS receives the MUTE request at
[code]
and then again reports the same request but no response
[code]
and again the same request but no response
[code]

After this, there is nothing related to this Request and of course Restcomm will timeout this MGCP request.

There are a lot Buffer Overflow messages that I know are coming from Linphone.

In the past I have some issues wi

[2016-05-31 12:12] deruelle opened #1128 "NPE on Call Cancel"
10:56:27,764 INFO  [org.mobicents.servlet.restcomm.telephony.Call] (RestComm-akka.actor.default-dispatcher-733) Got CANCEL for Call, from: sip:Y@X:5180 to: sip:Z@XX:5080 state: initializing
10:56:27,764 ERROR [org.mobicents.servlet.restcomm.telephony.Call] (RestComm-akka.actor.default-dispatcher-733) java.lang.NullPointerException: org.mobicents.servlet.restcomm.fsm.TransitionFailedException: java

[2016-05-31 12:17] gvagenas commented on #1128
@deruelle the line for
[code]
is
[code]
Looks like the Invite at this point is null, can you think of any reason from SipServlet point of view that the invite is NULL at this point ?

George

[2016-05-31 12:19] deruelle commented on #1128
link to the code ? where do you get the invite from ?

[2016-05-31 12:24] gvagenas commented on #1128
https://github.com/RestComm/Restcomm-Connect/blob/5de0933b5e96cfbd32d3b05a1adeb3d357d06ae7/restcomm/restcomm.telephony/src/main/java/org/mobicents/servlet/restcomm/telephony/Call.java#L702

This is an outgoing call so invite is created at
https://github.com/RestComm/Restcomm-Connect/blob/5de0933b5e96cfbd32d3b05a1adeb3d357d06ae7/restcomm/restcomm.telephony/src/main/java/org/mobicents/servlet/restco

[2016-05-31 12:26] gvagenas commented on #1128
SipSerlvets for that build (Restcomm 7.6.0.873) was SipServlets 3.1.691

[2016-05-31 12:28] deruelle commented on #1128
but the invite ref is clearly null here, we don't even go into SIP Servlets code as your invite object is null... when can the invite object be nullified at app level ?

[2016-05-31 12:33] gvagenas commented on #1128
Restcomm will not nullify the invite at any point. Restcomm will cleanup and destroy Call actor (and MS resources) and will let container to clean INVITE objects

[2016-05-31 12:36] agnoix opened #1129 "IFLYTEK TTS integration"
Integrates a IFLYTEK TTS (Most popular  Chinese TTS) into Restcomm

[2016-05-31 12:54] otsakir commented on #1102
AdminUI operates well with accounts of powerfull roles like Developer.

[2016-05-31 12:54] #1102 closed

[2016-05-31 13:01] otsakir commented on #1095
@ghjansen , I think these observations point to the right direction. I could add another aspect to this research and it has to do with authenticated users from an external provider (keycloak) that do not exist yet in the instance. Maybe we could allow some sort of access.

[2016-05-31 13:02] maria-farooq commented on #5
thanks @gvagenas will test with jitsi and update here, meanwhile

[2016-05-31 13:41] deruelle commented on #1128
if the invite was not null the exception would happen in createCancel right ? here it seems to be happening really on the invite object. The container cannot nullify the invite at app level as it doesn't know about the app or how it store the ref to invite. Even if the container cleans the INVITE, the app will still hold a reference to it that would be non null.

[2016-05-31 13:54] leftyb commented on #1124
@hamsterksu ,

Thank you for your contribution.
There is a small issue at your PR. You use "http" always. Need to use either "http" or "https".
For that reason you can see the "if [ "$DISABLE_HTTP" = "true" ]; then"

Regards

[2016-05-31 13:54] gvagenas commented on #1128
@deruelle agree on you that if the invite was not null the exception would be in the createCancel but the invite cannot be null at this point and Call actor doesn't nullify the invite at any point, this is the strange part here.
In any case, I can surround the createCancel method in a try/catch and log and cleanup so logging will help to spot the issue

[2016-05-31 13:56] deruelle commented on #1128
let's try that and provide a patch to see what more we can gather. Put enough logging there so we know about the Actor state as well in case it can be a race condition on the Actor cleanup too.

[2016-05-31 14:07] hamsterksu commented on #1124
@leftyb thank you for review.
i have fixed it.

[2016-05-31 14:13] gvagenas opened #1130 "Provide script for DB rollback"

[2016-05-31 14:22] maria-farooq commented on #5
@gvagenas @hrosa  problems is face even with jitsi

[2016-05-31 14:30] hrosa commented on #5
@maria-farooq  please open issue on Media Server repo and link it to this one. Thank you.

[2016-05-31 15:00] maria-farooq commented on #5
@hrosa https://github.com/RestComm/mediaserver/issues/165 created
Thanks

[2016-05-31 15:00] ghjansen opened #1131 "Adapt Outbound Calls for Organizations concept compliance"
This issue is an extension of issues #748, #784, #1094 and #1107.

After #1094 and #1107, main scenarios involving Calls are stable and working with the concept of Organizations. But considering outbound calls like the ones involving WebRTC Clients or RVD Applications (executed at `CallManager.outboundToClient`), is not currently possible to determine the Organization namespace.

The investigation

[2016-05-31 15:00] ghjansen opened #1132 "Adapt Outbound SMSs for Organizations concept compliance"
This issue is an extension of issues #748, #784, #1094 and #1107.

After #1094 and #1107, main scenarios involving SMSs are stable and working with the concept of Organizations. But considering outbound SMSs like the ones involving Applications (executed at `SmsSession.outbound`), is not currently possible to determine the Organization namespace.

The investigation need to take into account that t

[2016-05-31 15:00] ghjansen opened #1133 "Adapt Testsuite for Organizations concept compliance"
This issue is an extension of issues #748.

Considering the new concept of Organizations inside RestComm, several test scenarios need to be adapted or integrated with new scenarios, following the scenarios checklist bellow:

Entities
- [X] CRUD operations for Organizations API;
- [X] Remove Organization that still have Accounts associated to it;
- [X] Update the Organization from a Master Account;

[2016-05-31 15:02] ghjansen opened #1134 "Create new parameter to enable or disable Calls between different Organizations"
This issue is an extension of issues #748, #784, #1094 and #1107.

[2016-05-31 15:27] #1042 closed

[2016-05-31 18:05] maria-farooq opened #1135 "Add functionality to mute/unmute conference participants"
related to #5

[2016-05-31 18:07] maria-farooq opened #1136 "Add functionality to hold/un-hold participants in a conference"
related to #5 and #1135
references: https://www.twilio.com/docs/api/rest/participant#optional-parameters

[2016-05-31 21:25] deruelle commented on #376
hi @rlimonta this seems like a good start. I'm still a bit unclear on how those will get transferred to the server side so I think if you can start to move forward with the backend design that would be great. Let's create another github project for that but using OpenShift with MongoDB and REST API sounds like a good direction to me to start with and iterate quickly.

[2016-06-01 00:27] rlimonta commented on #376
@deruelle I´ll start the back-end.

I think it's interesting include additional informations into statistics, like Source IP Address, because our back-end hosts statistics from different platforms, right?

We I'll talk about it later.

[2016-06-01 07:52] deruelle commented on #376
We need to be careful, this can be seen as a privacy issue. We can push the country or/and city though, I think

[2016-06-01 08:04] otsakir opened #1137 "RVD application log UI does not work"
RVD application log UI does not display messages and the following exception is shown in  server.log:
[code]

[2016-06-01 08:07] gvagenas commented on #1
@muhammadbilal19 very good progress, great job!

I don't understand your question for the RCML and the dequeue method. Using the dequeue method we should be able to provide the URL that will return the RCML to be executed for this queue member.
When Restcomm sends a request to the URL, should receive document which contains the RCML verbs for how to handle the member/call.

What is your estimate f

[2016-06-01 08:57] gvagenas opened #1138 "Feature flag to disable SDP patching"
In case Restcomm is behind SBC, there is no need to patch SDP and on top, patching SDP can be a problem since SDP might be doing load balancing for the RTP connection and thus the SDP from SBC could contain different IP that the IP of SBC

[2016-06-01 10:56] otsakir opened #1139 "WebTrigger authentication issue"
WebTrigger hybrid authentication does not work correctly after noshiro patch applied causing failures in old token type authentication.

[2016-06-01 11:44] muhammadbilal19 commented on #1
Thanks @gvagenas

My confusion about dequeue Post method is this when user update the URL and method parameter,  API method will send request to given URL which will return response like that

[code]

Now in this response i need to parse this response and execute each verb accordingly? I am looking into CallsEndpoint.java file currently because i think it has this functionality.

Other than this R

[2016-06-01 13:58] otsakir opened #1140 "Improvements for RVD Collect"
1) Play audio file if no Digit or wrong Digit found. As of today it only allows Say (TTS)
2) It should allow to Play different announcement or TTS if user keeps falsing for configurable 'x' time and execute next verb

[2016-06-01 14:10] gvagenas opened #1141 "NAT Handling should move away from Restcomm core"

[2016-06-01 14:34] #1137 closed

[2016-06-01 14:34] #1139 closed

[2016-06-02 09:00] gvagenas opened #1142 "Extract Version message to external file"

[2016-06-02 10:26] otsakir opened #1143 "Newly created accounts should appear in the creator account menu"
When a new sub-account is created it does not immediately appear in the creator account menu. One has to refresh to see it.

[2016-06-02 10:47] #784 closed

[2016-06-02 10:47] #1138 closed

[2016-06-02 12:05] gvagenas commented on #1129
Hi @agnoix , thanks for your help to the project.
I will try here to provide the basics needed to create a new TTS integration with the this provider.
So you can check existing maven module, restcomm.tts.voicerss and follow the same design at your new module.

To wire this new TTS service to Restcomm you need to provide new configuration at restcomm.xml similar to the one we have for Voice RSS - h

[2016-06-02 15:45] otsakir commented on #1040
IMO we should move with plan C. It looks much more concrete. There is not much more to lose either.
* Keeping FriendlyName uniqueness for supporting old DIDs with URLs like /link/to/rvd/application/FriendlyName/controller to projects that failed migration is not an argument. Support for such URLs is already removed from RVD.
* It proves that complex implementations that look after near-obsolete fe

[2016-06-02 16:42] deruelle commented on #1040
Agreed with @otsakir Plan C looks the best option. using a random UUID to provide the uniqueness is more correct. If it happens to be simpler to implement even better

[2016-06-03 03:21] muhammadbilal19 commented on #1143
@otsakir I fix this issue and created pull request. Please review and let me know if you see any problem in the fix.

[2016-06-03 07:37] otsakir opened #1145 "Display application SID when hovering over friendly name"
Once application friendly name loses its uniqueness attribute it will be hard to tell one app from another if two apps happen to have the same friendly name. For such cases we need to also display the SID when hovering over the friendly name. It will be a last resort mechanism to inform the user about the identity of an app.

[2016-06-03 09:38] otsakir opened #1146 "New client registration is broken in AdminUI"
Client registration does not work. Seems to be related with angular upgrade (#968). Should be an easy fix.

[2016-06-03 09:43] otsakir commented on #1146
Here is the exception in the browser:
[code]

[2016-06-03 10:15] #1146 closed

[2016-06-03 10:33] otsakir opened #1147 "Provide RVD testsuite using arquilian"
Create testsuite for RVD integration testing. It could be implemented either as a package inside existing restcomm.testsuite or as a separate maven module - restcomm.rvd.testsuite.

This is issue is about setting up the testsuite and provide tests for very common operations. Once the setup is proven working, further github issues  will be added for all testable operations.

[2016-06-03 13:19] ghjansen commented on #1147
Maybe some info present in #747 can be useful here. :)

[2016-06-03 13:42] otsakir opened #1149 "Creating application with same FriendlyName results in hiding it"
When trying to create two RVD projects named foo from the project manager, the second creation will result in losing the first. The behaviour is not immediately apparent and one has to press F5 to notice it.

To reproduce:
1. Navigate to RVD project manager where the project list is shown
2. Create *foo* project
3. Create *foo* project again. A conflict notification will appear
4. Refresh view. No

[2016-06-03 17:41] gvagenas opened #1150 "B2BUA NPE when trying to set Content of 200OK response to MESSAGE to the clonedResponse"

[2016-06-03 17:42] #1150 closed

[2016-06-04 18:37] otsakir opened #1151 "Clicking on a sub-account in AdminUI Account menu should open detail form"
The sub-account links in AdminUI account menu are not operational. When clicked they should navigate the user to the details form of the respective sub-account.

[2016-06-05 02:34] muhammadbilal19 commented on #1151
Fixing this issue in #1143 branch.

[2016-06-06 07:53] deruelle commented on #932
@atika2k were you able to make progress on this or there is blockers ?

[2016-06-06 08:07] maria-farooq opened #1154 "Support Conference in a Cluster with all participants on the same media server"
cc: @deruelle  @leftyb
I will add architect diagram here:

[2016-06-06 08:32] deruelle commented on #1154
@maria-farooq the title should be more like Support Conference in a Cluster with all participants on the same media server and we need #932 as a pre requisite to this issue

[2016-06-06 08:57] #1124 closed

[2016-06-06 09:06] leftyb opened #1155 "When calling PSTN from olympus, If PSTN side (e.g. moibile phone) reject the call BUSY (486) not reaching Olympus"
Tried on cloud server calling by mobile phone and then if reject the call from my mobile Olympus continues to ring. The proper function should be that Olympus stops ringing and print a message for BUSY end.

[2016-06-06 09:44] gvagenas commented on #1155
@leftyb I just tested the same call flow and for me, call at Olympus stopped after I rejected call from my mobile. Can you please check again as I think problem is with your browser or something?

[2016-06-06 10:06] leftyb commented on #1155
@gvagenas
 I tried it and still same issue. I am using Chrome Version 51.0.2704.79 (64-bit)

[2016-06-06 10:07] deruelle commented on #1010
@zahidMed please notify us when you have made additional changes as github doesn't notify us.
@gvagenas can you please review ?

[2016-06-06 10:08] deruelle commented on #1010
@zahidMed also I don't see a formal pull request. Is this ready for PR ?

[2016-06-06 10:11] leftyb commented on #1155
Closing issue. False tested.  After 2-3 seconds Olympus quits as well..

[2016-06-06 10:11] #1155 closed

[2016-06-06 13:40] ghjansen opened #1156 "Adapt SIP Numbers for Organizations concept compliance"
This issue is an extension of issues #748 and #784.

[2016-06-06 14:55] otsakir opened #1157 "Add IdentityInstance entity, endpoint, dao etc."
IdentityInstance concept is introduced in Restcomm/SSO and represents a security entity that is usually bound to an organization and consists a set of applications secured by keycloak.

This issue is about adding the entity class, endpoint to manage it, dao to access it etc.

[2016-06-06 15:17] ghjansen opened #1158 "Adapt SIP Conference for Organizations concept compliance"
This issue is an extension of issues #748 and #784.

[2016-06-06 16:42] leftyb opened #1159 "RestComm Auto-configuration script refactoring."
Fixes for :
- Fix auto-configuration script for latest MSS LB configuration for multi-transport. #1098
- RestComm connectors port configuration. #1099
- Move all PORT configuration to restcomm.conf. #1100
- Remove "telestax proxy" configuration from auto-configuration scripts. #1101
- Add SSL configuration to restcomm.conf. #1113

[2016-06-06 20:14] maria-farooq commented on #1154
link to high level diagram https://docs.google.com/drawings/d/1k-APbfIZveRtfg1J9rZ7G-lQIY7Lvqzty_qy-_4lLB4

[2016-06-07 07:18] deruelle commented on #376
@rlimonta just checking if you need more insights or if there is any blockers ?

[2016-06-07 09:08] atika2k commented on #932
@deruelle i've been away due to other obligations. I will update as soon as possible.

[2016-06-07 09:35] leftyb opened #1160 "Move RMS & RC JAVA_OPTS configuration to auto-configuration scripts."

[2016-06-07 09:58] deruelle commented on #932
@atika2k no worries, actually we have an important deadline to meet on this one, so I'm assigning this to a member of the team as well to take over. Feel free to share your work or sync up with @maria-farooq on that.

[2016-06-07 12:41] rlimonta commented on #376
@deruelle No, thanks. I will finish on this week.
Do you have any preference about WebContainer for the back end? I´m using the Glassfish right now, but I can change.

[2016-06-07 13:35] gvagenas opened #1162 "Upgrade apache http client to 4.5.2"
so we can better handle connections and release resources

[2016-06-07 15:10] deruelle commented on #376
@rlimonta yes let's use JBoss instead as most of our platform is using JBoss and it can run well on OpenShift.

[2016-06-07 15:31] rlimonta commented on #376
Ok. thanks!

[2016-06-08 06:48] gvagenas opened #1163 "Create load test for P2P call flow"

[2016-06-08 06:48] gvagenas opened #1164 "Create load test for Gather call flow"

[2016-06-08 10:42] zahidMed commented on #1010
hi,

do you have any idea how to "if" tag in "select" tag by annotation?

I found this in call-detail-records.xml

Regards.

[2016-06-08 11:05] muhammadbilal19 commented on #1010
Hi

 I searched on internet and find these two posts which looks relevant to your problem. Both resolve the issue of creating dynamic query in annotation. Please have a look and give it a try  and hopefully your problem will be resolve.

http://stackoverflow.com/a/13760051/1959100
http://www.mybatis.org/mybatis-3/dynamic-sql.html#Pluggable_Scripting_Languages_For_Dynamic_SQL

[2016-06-08 11:06] otsakir opened #1165 "Upgrade apache http client to 4.5.2 in RVD"
RVD probably suffers from the same problems as restcomm does regarding connection handling. This may affect requests made from ES element. We need to investigate or upgrade just to be sure.

[2016-06-08 12:36] otsakir opened #1166 "Cleanup account test class"
AccountsEndpointTest class is complex, keeps state between tests and hard to extend. We need some cleanup here.

[2016-06-08 16:24] leftyb opened #1167 "Second iteration of configuration-scritps refactoring."
Need to Add:

Mysql support
Graylog support
USESBC
DTMFDBI
activateAddressMapping (for SMPP)
S3_BUCKET configuration
INIT_PASSWORD
SMTP_USER
LOG_LEVEL (fix logs confiuguration)
Add on the fly change of LOG_LEVEL for gov.nist and sip-servlets.
RESTCOMMHOST
PROD_MODE (Will be removed since each element can be configured independently for a production mode.)
HSQL_DIR
PLAY_WAIT_MUSIC
RVD_LOCATION
RVD_

[2016-06-09 06:14] otsakir opened #1168 "Support account role update"
Account role update is not supported. The existing policy used in account *creation* is the following:

* Administrators can explicitly set the roles of the sub-accounts they create.
* non-administrators create sub-accounts of  their own role.

The same policy can be adapted to account modification:

* Administrators can explicitly update the role of a sub-account arbitrarily.
* non-administrator

[2016-06-09 08:44] deruelle commented on #1129
@agnoix were you able to move forward on that ?

[2016-06-09 09:06] maria-farooq opened #1170 "Support restcomm with multiple external media-servers with (JSR-309)"
related to https://github.com/RestComm/Restcomm-Connect/issues/932

cc: @gvagenas  @deruelle

[2016-06-09 10:22] otsakir commented on #688
Fixed as of 7c0a7bb555 and 327a7666d5

[2016-06-09 10:22] #688 closed

[2016-06-09 10:59] maria-farooq commented on #932
Hi @gvagenas , i have some change in `Bootstrapper.java` in `restcomm.application` project, when i build the project i get a war file `restcomm.application-7.8.0-SNAPSHOT.war` any help how can i deploy it in some short way?
or should i just replace it with `$RESTCOMM_HOME/standalone/deployments/restcomm.war`

Thanks
Maria

[2016-06-09 11:05] otsakir opened #1171 "Add IdentityServer endpoint"
A thin endpoint should be added that provides information about currently configured keycloak server. In URL terms it should listen to:

@Path("/Identity/Server")

[2016-06-09 11:27] gvagenas opened #1172 "Set max value for RevolvingCounter the Long.MAX_VALUE"

[2016-06-09 12:52] muhammadbilal19 commented on #1
Sorry for not updating the status from last week, i am currently bit busy in some other assignments. Anyways i am creating a pull request for API part which i currently did. I will do some more work on this issue probably this weekend. I am also doing testing of API currently if i see any issue i will commit it in my branch.

[2016-06-09 13:30] gvagenas opened #1174 "Feature flag to disable checking registration.instanceId for WebRTC clients during creation of outbound call to Clients"

[2016-06-09 14:14] deruelle opened #1175 "Change DID Provider code to point to the Organization DNS name when buying a phone number"
As in title so that when a call comes to the DID Provider let's say Nexmo, Nexmo routes the call to the right Organization.

[2016-06-10 09:24] leftyb opened #1176 "Patch SDP to use uppercase for PCMU and PCMA, when using XMS"
From ZenDesk discussion:

"XMS uses lower-case letter for codec name PCMU and PCMA in SDP like following,
a=rtpmap:0 pcmu/8000
a=rtpmap:0 pcma/8000
You may have better change these to upper-case to avoid an unexpected trouble.
Because, as you may know, there are some terminals which don't like the format, e.g. Linphone.
And, I have discussed this with Dialogic and they have understood my point but

[2016-06-10 14:35] #992 closed

[2016-06-10 14:35] #931 closed

[2016-06-10 14:36] #1171 closed

[2016-06-10 14:36] #1012 closed

[2016-06-10 14:37] #994 closed

[2016-06-10 14:47] gvagenas opened #1177 "Properly release resources for outbound call actors"

[2016-06-10 15:34] gvagenas opened #1178 "DiskCache doesn't properly check if file exists"

[2016-06-10 16:20] gvagenas opened #1179 "Properly cleanup MediaSession object and endpoint objects that get destroyed"

[2016-06-10 19:31] maria-farooq opened #1180 "Music on hold does not stop when non-moderatror particpant joins the conference"
We can reproduce the issue by defaults apps in latest restcomm binaries.
### Steps to reproduce

1. Dial 1311:  `moderator` **Result?**  `music on hold starts playing`
2. Dial 1310 `non moderator` **Result?**  `music on hold` **Expected Result** `music on hold should stop and conference should start (so participants could talk to each other, as both moderator and an other participant are there)`

[2016-06-10 19:32] #1162 closed

[2016-06-10 19:32] #1164 closed

[2016-06-10 19:32] #1172 closed

[2016-06-10 19:32] #1177 closed

[2016-06-10 19:32] #1178 closed

[2016-06-10 19:32] #1179 closed

[2016-06-10 20:23] deruelle commented on #1180
This happened to me on cloud today with the default music on hold.

[2016-06-11 03:33] muhammadbilal19 commented on #856
@leftyb @deruelle
I created a table of subaccounts with pagination and filters. Please have a look and let me know if you want to add anythings else in it.If you guys are ok with design i will commit my code.

![restcomm](https://cloud.githubusercontent.com/assets/8377490/15982883/3660d880-2fe9-11e6-90d6-6258f280ab92.png)

![subaccounts](https://cloud.githubusercontent.com/assets/8377490/15982884/

[2016-06-12 09:20] gvagenas opened #1181 "When trying to Dial unregistered client, Call will fail BUT DialCallStatus will be null instead of 'failed'"

[2016-06-12 09:34] maria-farooq commented on #932
Latest status on ticket is:
CallControler and BootStrap is changed in order to handle multiple media servers
My local setup is some thing like following
`Restcomm is running on 192.168.8.102`
`Media-Server1 is running on 192.168.8.102:2427`
`Media-Server2 is running on 127.0.0.1:2428`
`Restcomm to MS1 mgcp stack binding fails due following exception`
`Restcomm to MS2 mgcp stack binding is successf

[2016-06-12 10:27] gvagenas commented on #1181
We already cover this, here is the test case: https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.testsuite/src/test/java/org/mobicents/servlet/restcomm/telephony/DialActionTest.java#L287 and this is not a bug. Since the client is not registered Restcomm will not create any call for the Dial and thus, the DialCallStatus will be null

[2016-06-12 10:27] #1181 closed

[2016-06-12 10:59] gvagenas opened #1182 "Test MockMediaGateway for mem leaks"
Extend MockMediaGateway to check for endpoints that are not destroyed or requests that are not responded etc.

[2016-06-13 08:28] maria-farooq commented on #932
i am using MAC OSx 10.9.5 and i am not getting correct port (used/free) information, i will try a few things (like with different ports)and then in case i remained stuck i will raise.
thanks

[2016-06-13 10:31] gvagenas commented on #932
@maria-farooq after you start RMS servers and before you start Restcomm check if ports 2727 and 2728 are already binded by another process.
At Linux you can do it with "netstat -anp | grep 2727". For OSx check the answer here : http://stackoverflow.com/questions/4421633/who-is-listening-on-a-given-tcp-port-on-mac-os-x#4421674

There is a chance that a previous Restcomm process that didn't stopped

[2016-06-13 12:20] maria-farooq commented on #932
thanks @gvagenas,
Strange thing is that port is not used by any process

here is port list when only both RMS are running:
[code]

Here is update list after starting restcomm `screen -dmS 'restcomm' bin/standalone.sh -b 192.168.8.102`

[code]

But i am still getting same exception:
[code]

Hi @hrosa I tried different than default port as well, i tried with 2729 instead of 2727 and still got same e

[2016-06-13 12:51] maria-farooq commented on #932
debugging mgcp-driver..

[2016-06-13 12:59] #1165 closed

[2016-06-13 13:20] deruelle commented on #856
@muhammadbilal19 great ! did you do a PR of that ?

[2016-06-13 18:31] otsakir opened #1184 "Restcomm does not return WWW-Authenticate header"
When a 401 response is generated it should contain the "WWW-Authenticate" to let the browser prompt the user to enter credentials. Restcomm as of no-shiro patch does not generate this header.

We should add it.

[2016-06-13 19:29] muhammadbilal19 commented on #856
@deruelle sure i will create a PR for that fix today.

[2016-06-14 11:07] otsakir commented on #1184
issues fixed as of c32eca4

[2016-06-14 11:07] #1184 closed

[2016-06-14 11:28] otsakir opened #1186 "Review authorization mechanisms (SSO)"
Restcomm should be able to switch between restcomm-based and keycloak-based authorization modes quickly and smoothly. Out of the box it should operate in restcomm-based auth mode and allow instance registration from AdminUI. Once registered, it should support automatically keycloak-based oauth.

This behaviour is broken or outdated. This issue is about fixing it.

[2016-06-14 11:38] leftyb opened #1187 "Handle integration between RestComm and XMS"
XMS uses lower-case letter for codec name PCMU and PCMA in SDP like following,
a=rtpmap:0 pcmu/8000
a=rtpmap:0 pcma/8000

Better to change to upper-case to avoid an unexpected trouble.
There are some terminals which don't like the format, e.g. Linphone.
As user commented Dialogic understood the issue but refrained from doing it due to a reason for a backward compatibility.

[2016-06-14 11:42] muhammadbilal19 commented on #856
@deruelle PR created for this issue.

[2016-06-14 12:32] rlimonta commented on #376
@deruelle I finished the implementation of client and core modules and committed on my Github.

I used a flexible strategy in order to include new attributes automatically, through Maps.

Now I'll work on documentation and web app to display graphics.

After that, I'll publish into the OpenShift.

[2016-06-14 13:20] gvagenas opened #1189 "Change local build script to automatically identify current branch name"

[2016-06-14 13:22] #1189 closed

[2016-06-14 15:06] maria-farooq commented on #932
basic round robin starts working with 2 media servers, just tested a simple 1234 play

[2016-06-14 15:28] maria-farooq commented on #1136
@gvagenas I noticed late that, I have missed one thing, which is POST action, currently conference API is only showing the status of hold which is true/false.
So right now conference API is not able to remotely put participants on hold/unhold.
cc: @deruelle

[2016-06-14 22:10] gvagenas opened #1190 "Cleanup registrations after UserAgentManager initialized"
When Restcomm startup, check existing client registrations and cleanup the following:

1. Expired registrations (expires.isBeforeNow() || expires.isEqualNow())
2. Registrations that haven't respond to OPTIONS longer than (pingIntervalMillis x 3) (pingIntervalMillis default value is 60 sec)
3. WebRTC registrations. Even if there are not expired WebRTC registrations remove them because the old webso

[2016-06-14 22:14] gvagenas opened #1191 "Handle SipServlets race condition where WSS outbound interface is null."
It can happen that SipServlets startup with no exceptions but the WSS outbound interface is NULL even though configuration is fine.
When this happen, if Restcomm will try to dial a WebRTC client over WSS the following exception will occur:

[code]

At this point the outbound interfaces that are available from the container are:

1. sip:192.168.1.151:5082;transport=ws
2. sip:192.168.1.151:5080;tran

[2016-06-14 22:16] gvagenas commented on #1191
Part of the standalone-sip.xml:

[code]

[2016-06-14 22:48] #1190 closed

[2016-06-14 22:48] #1191 closed

[2016-06-15 07:14] hrosa opened #1192 "RestComm send unnecessary MDCX"
I believe RestComm is sending one unnecessary MGCP request for every call.

<img width="1548" alt="screen shot 2016-06-14 at 17 31 23" src="https://cloud.githubusercontent.com/assets/7796608/16071011/e0cd974c-32d0-11e6-940d-7f4700039fc0.png">

The selected MDCX is unnecessary because, as stated in MGCP spec, the second connection is always opened in sendrecv mode:

https://tools.ietf.org/html/rfc3

[2016-06-15 07:23] gvagenas commented on #1192
hello-play application was called

[2016-06-15 07:25] hrosa opened #1193 "RestComm skips resource cleanup on MS if call setup fails"
<img width="1548" alt="screen shot 2016-06-15 at 08 18 35" src="https://cloud.githubusercontent.com/assets/7796608/16071304/84105dc6-32d2-11e6-892a-a135db28d16a.png">

_(Notice how the second CRCX fails)_

RestComm terminates the call but skips resource cleanup on MS side (there are no DLCX requests)

[2016-06-15 07:30] hrosa commented on #1193
Attaching logs: [restcomm-log-issue1193.txt](https://github.com/RestComm/Restcomm-Connect/files/315599/restcomm-log-issue1193.txt)

[2016-06-15 08:48] maria-farooq commented on #932
As suggested in previous comment:
`The second step would be to make the Media Server algorithm selection pluggable so that custom algorithm could be used to better assign specific calls to specific media server instances.`
But for now I will focus on https://github.com/RestComm/Restcomm-Connect/issues/1154

[2016-06-15 09:15] maria-farooq commented on #932
@gvagenas  here are my changes so far https://github.com/RestComm/Restcomm-Connect/compare/master...maria-farooq:issue-932?expand=1

[2016-06-15 09:40] deruelle commented on #932
Can you do a PR for that one and open  another issue for pluggable
algorithm?
Le 15 juin 2016 11:15 AM, "maria-farooq" <notifications@github.com> a
écrit :

[2016-06-15 11:02] deruelle commented on #1010
@zahidMed  any more blockers here ?

[2016-06-15 14:37] otsakir commented on #1001
Instead of having a special 'unregistered' mode of operation we can let restcomm operate in old auth mode and register the instance form within AdminUI. Once the instance is registered restcomm will automatically detect it and support oauth workflows.

[2016-06-15 16:52] maria-farooq opened #1194 "Support for multiple Media servers with pluggable algorithm"
the task is to make the Media Server algorithm selection pluggable so that custom algorithm could be used to better assign specific calls to specific media server instances.
predecessor of this task is https://github.com/RestComm/Restcomm-Connect/issues/932

[2016-06-15 17:02] maria-farooq commented on #932
@deruelle @leftyb  @gvagenas for pull request, i ran test suit and found that some test cases are failing:
I think i need to look at them first, I am currently debugging them.
created https://github.com/RestComm/Restcomm-Connect/issues/1194 for pluggable algorithm

[2016-06-16 09:30] gvagenas opened #1195 "Call actor problem to send Bye for WebRTC clients"
Problem is that when Call actor tries to discover the real port the WebRTC client listens to during the Ringing state, it get port = 0.

[2016-06-16 09:43] #1195 closed

[2016-06-16 09:47] maria-farooq commented on #932
so i last night i fixed testsuit and still some testcases are still failing. today i ran testsuit on `master` and filtered out test cases which are failing due to my changes only, here are they:
[code]

[2016-06-16 11:16] maria-farooq commented on #932
Hi @deruelle  meanwhile i wondered you asked to create a pull request but on this feature so far conference wont be able to mix. as each call will be landing on different media server and #1154  is still in progress

[2016-06-16 12:25] gvagenas opened #1196 "Properly handle WebRTC client registrations"

[2016-06-16 13:54] gvagenas commented on #1196
Currently, if there are 2 WebRTC registrations for the same client in the DB but to different Restcomm instances (2 Restcomm instances common DB), Restcomm will:
1. Check registrations
2. Reject registration that doesn't belong to the current Restcomm instance
3. Will pick the correct registration, that belongs to the current Restcomm instance
BUT will create 2 INVITES

[2016-06-16 16:02] #1196 closed

[2016-06-17 05:19] #117 closed

[2016-06-17 08:06] gvagenas opened #1197 "NPE at UserAgentManager caused actor to reload"
Constructor runs again the firstTimeCleanup method which removes all WebRTC registrations

[2016-06-17 09:18] gvagenas opened #1198 "Upgrade Akka framework to 2.3.x"

[2016-06-17 09:21] gvagenas opened #1199 "Implement SipConnectorListener in order to get notified for when connectors are ready"
This will fix the race condition where Restcomm starts with some containers not started and we get NPEs

[2016-06-17 09:52] gvagenas opened #1200 "Check with the container the servletContext to get the outbound interfaces"
instead of using the servlet context object that is available during the servletInitialized event. This will prevent half-baked servletContext object with null connectors.

[2016-06-17 10:44] maria-farooq commented on #932
So after debugging the reason for failure of above test cases is: in the embedded application server `restcomm.xml` is not applied properly.
i am fixing it right now

[2016-06-17 17:46] muhammadbilal19 commented on #1168
@otsakir i stated making some changes for this issue. I need to clarify few things

- if Current login user Say Default Admin (admin@company.com) want to update own role do we need to allow ? In that case do system need to force this user to login again?
- According to the rule non-administrator can only create sub accounts of their own types but in that scenario their is a possibility that Defaul

[2016-06-18 13:45] deruelle commented on #1193
@hrosa and @gvagenas  Let's prioritize this one as it will cause memory leaks and quality degration over time at customer deployments.

[2016-06-18 13:46] deruelle commented on #1192
@gvagenas @hrosa This could lead under load to a higher number of MGCP requests which would result in the dreaded MGCP timeouts and memory leaks. Shouldn't we put high priority on this issue too ?

[2016-06-19 16:46] #1114 closed

[2016-06-19 18:52] deruelle commented on #376
@rlimonta I'm travelling right now so will not be able to review before last week of June. Do you want me to create separate github projects so you can push there ?

[2016-06-20 09:43] gvagenas commented on #1199
Servlet wont get notified

[2016-06-20 09:43] #1199 closed

[2016-06-20 09:51] gvagenas commented on #1199
Fixed at SipServllet for issue https://github.com/RestComm/sip-servlets/issues/165

[2016-06-20 09:51] gvagenas commented on #1200
Fixed at SipServllet for issue https://github.com/RestComm/sip-servlets/issues/165

[2016-06-20 09:51] #1200 closed

[2016-06-20 10:24] maria-farooq commented on #1104
As suggested by @hrosa
it would be simpler if the task was delegated to a single MRB.
As it will cleaner approach to have resource management by MRB. an example:
(https://www.dialogic.com/~/media/products/docs/media-server-software/14160-powermediamrb-ds.pdf)

[2016-06-20 13:00] rlimonta commented on #376
@deruelle That would be good! Thank you.

[2016-06-21 10:27] gvagenas commented on #1182
Provide Mgcp Monitoring service that will provide counters for:

- LiveCalls
- Links
- Connections
- Endpoints
- Endpoint Types

[2016-06-21 10:27] otsakir opened #1202 "Create registration access token reset mechanism (SSO)"
When a keycloak client is first created through "client-registrations" keycloak endpoint a registration access token (RAT) is returned. This is a one-time-token to be used in the subsequent operations regarding this client. Thus, a secure but fragile chain of operations is formed where the operating side (Restcomm) should make sure it stores the RAT after each step. Updating a keycloak client is s

[2016-06-21 11:01] #1098 closed

[2016-06-21 11:01] #1099 closed

[2016-06-21 11:01] #1100 closed

[2016-06-21 11:01] #1101 closed

[2016-06-21 11:01] #1113 closed

[2016-06-21 11:01] #1159 closed

[2016-06-21 11:01] #1160 closed

[2016-06-21 11:01] #1197 closed

[2016-06-21 12:03] gvagenas opened #1203 "Properly cleanup ConferenceEndpoint"

[2016-06-21 12:15] gvagenas opened #1204 "Properly clean up Bridge endpoints"

[2016-06-21 13:02] gvagenas opened #1205 "Properly clean up Mgcp Links"

[2016-06-21 13:29] #1143 closed

[2016-06-21 13:40] #1121 closed

[2016-06-22 09:51] loayking opened #1206 "NullPointerException for USSD Pull"
when i dial the USSD short code the request come to RestComm but sometimes  show this error
11:42:54,881 INFO [org.mobicents.servlet.restcomm.util.UriUtils] (RestComm-akka.actor.default-dispatcher-3) Jboss Http Connector: http://10.50.185.7:10010
11:42:54,887 ERROR [org.mobicents.servlet.restcomm.ussd.telephony.UssdCallManager] (RestComm-akka.actor.default-dispatcher-4) null: java.lang.NullPointer

[2016-06-22 11:37] otsakir opened #1207 "Support for keycloak Clients updates through one-time-tokens (SSO)"
As described in #1202 updating a keycloak client is possible through one-time RegistrationAccessTokens (RAT).

We should provide a layer that hides that complexity. In short it will accept existing RAT for a client, do the update and return the new RAT that should be stored in the IdentityInstance.

[2016-06-22 13:55] otsakir opened #1208 "Implement user-linking-on-demand (SSO)"
Out of the box, all restcomm accounts will be unlinked from their keycloak user counterparts. When an instance uses SSO the the *user-linking-on-demand* "protocol" will be used to securely link an account with a keycloak user and thus allow this account to be accessed through keycloak authentication workflow.

This "protocol" is about allowing the following workflow:

1. Alice has an 'unlinked' ac

[2016-06-22 14:37] gvagenas opened #1209 "Remove SDP patching from Restcomm since now is part of RMS functionality"
See issue https://github.com/RestComm/mediaserver/issues/106

[2016-06-22 14:56] leftyb opened #1210 "Fix RCML download issue when self-signed certificate is used."
Need to add the certificate at Java cacerts.

[2016-06-22 15:01] gvagenas commented on #1206
@loayking Since Restcomm 7.6.0 the USSD numbers should use the USSD Url and not the Voice URL. From the NPE you have here, I assume that the number you use here is using VoiceURL. You should instead configure your application at the USSD url. This is issue https://github.com/RestComm/Restcomm-Connect/issues/805

Let me know if that helps so I can close the issue

[2016-06-22 15:04] deruelle commented on #1206
We shouldn't bomb with NPE still

[2016-06-22 15:05] gvagenas commented on #1206
@deruelle agree, I plan to properly handle the exception at this point

[2016-06-22 15:21] #1210 closed

[2016-06-22 16:51] loayking commented on #1206
@gvagenas yes you are right it is working fine now

[2016-06-22 20:51] ivelin opened #1213 "UX: Show prominently My Apps with My Numbers"
When I login to the restcomm dashboard its not clear which numbers relate to which apps. See screenshot.

I have to drill down multiple levels from different menus to see the corellation between active numbers and apps under my account.

I would like several things to be easier to identify in the UI:
1. Which numbers are assigned as a group to one app.
2. Which is are my current active apps.
3. Ba

[2016-06-22 20:59] ivelin opened #1214 "RVD Apps should allow multiple entry points (SMS, USSD, Voice, etc)."
Currently an App can be either SMS, USSD or Voice. This does not look intuitive when I go to the number to app assignment page. From a user perspective, I would like to be able to assign an app to one or more numbers. For example conferencing app with call-in numbers in multiple countries.

I would also like to be able to use the same app to communicate via multiple channels. For example I would l

[2016-06-22 23:08] deruelle commented on #1213
Related to that issue is https://github.com/RestComm/Restcomm-Connect/issues/1000. Adding @ipsilantide so that when we revamp the UI/UX of Admin UI we take those other comments into consideration as well

[2016-06-23 03:47] deruelle commented on #1104
@maria-farooq @hrosa please share you sequence flow diagrams as discussed offline so we decide on the best course of action

[2016-06-23 08:11] maria-farooq commented on #1104
@deruelle will update in an hour here
thanks

[2016-06-23 08:16] gvagenas commented on #1
Hi @muhammadbilal19 what is the progress for the issue?

[2016-06-23 08:45] gvagenas commented on #1
@muhammadbilal19 from what I can see you have implemented the Rest API part only and the VoiceInterpreter implementation for Queue and Enqueue is missing.
What is the progress for the part 2 of this issue?

[2016-06-23 10:05] maria-farooq commented on #1104
Possible sequence for #1154 : https://www.draw.io/#G0B2CFlEFeY-zfZnNDUG9hdHh1RWs
Possible sequence for #1104 : ?
Possible sequence for MRB : ?

[2016-06-23 10:58] maria-farooq commented on #1154
sequence diagram: https://www.draw.io/#G0B2CFlEFeY-zfZnNDUG9hdHh1RWs

[2016-06-23 11:17] thanhthuy40 commented on #452
same me!

[2016-06-23 13:07] #1111 closed

[2016-06-23 15:06] gvagenas commented on #1192
Paused due to RMS issue https://github.com/RestComm/mediaserver/issues/199

[2016-06-23 15:19] gvagenas opened #1215 "Monitoring Service, provide metrics for max concurrent calls and average call duration"

[2016-06-23 15:53] otsakir opened #1216 "Simplify complex links pointing to RVD applications (in designer)"
Since project-to-application and workspace upgrade, RVD uses links like the following to refer to project and at the same time keep project FriendlyName information:

...#/designer/AP2dc018644ec44fd4838ac3ce7bbe6bbf**=foo**

We can store the FriendlyName information in the hierarchical state of ui-router and remove it from urls. All views under /AP2dc018644ec44fd4838ac3ce7bbe6bbf will be able to r

[2016-06-23 22:01] deruelle commented on #1154
@maria-farooq I can't see the diagram apparently in draw.io. Would you mind doing it with plantuml so we can add it to the design documentation of Restcomm-Connect.
@gvagenas shall we start a separate asciidoc guide on Restcomm Connect design  ?

[2016-06-23 22:05] deruelle commented on #1104
@maria-farooq I can't access the sequence diagram, Let's use plantuml as it can be integrated with asciidoc easily.

[2016-06-24 08:06] gvagenas commented on #1010
Hi @zahidMed what is the progress for this feature? Any blockers?

[2016-06-24 10:30] zahidMed commented on #1010
no blockers, it's just because I found myself very busy and there are some missing unit test I should add.

[2016-06-24 12:39] #1149 closed

[2016-06-24 13:15] gvagenas opened #1218 "Outbound calls to MonitoringService"

[2016-06-24 13:18] gvagenas opened #1219 "Properly cleanup failed outbound calls"

[2016-06-24 13:29] gvagenas commented on #1010
Thanks for the update @zahidMed

[2016-06-24 14:21] otsakir commented on #1040
Solution C was adopted.

[2016-06-24 14:21] #1040 closed

[2016-06-24 15:52] gvagenas opened #1220 "Properly cleanup busy outgooing calls"

[2016-06-27 08:06] otsakir commented on #1145
Fixed as of  83b7125

[2016-06-27 08:06] #1145 closed

[2016-06-27 09:15] gvagenas commented on #1000
@otsakir I believe the best option is to go for 2. This will reduce the unnecessary complexity at Admin UI side.
You can add a new property for DID entity , applicationName, that will contain the Application Name (in the case of DID configured with Application SID) or the URL (in the case DID configured with plain URL).
The IncomingPhoneNumber API that will provide the list of DIDs can query and g

[2016-06-27 12:07] gvagenas opened #1221 "Properly clean up Canceled branches in a Dial Fork call flow"

[2016-06-27 12:28] otsakir opened #1222 "Project download fails from RVD project manager view"
The project download feature is broken when used from project manager view. Downloading from inside an open project (Export/zip) works fine though.

This is probably a regression that appeared after the no-shiro patch.

[2016-06-27 14:23] gvagenas opened #1223 "Properly clean up Busy branches in a Dial Fork call flow"

[2016-06-27 15:43] #1202 closed

[2016-06-27 15:44] #1207 closed

[2016-06-28 07:10] gvagenas commented on #1223
Issue related to #1215

[2016-06-28 07:10] gvagenas commented on #1221
Issue related to #1215

[2016-06-28 07:10] gvagenas commented on #1220
Issue related to #1215

[2016-06-28 07:10] gvagenas commented on #1219
Issue related to #1215

[2016-06-28 07:10] gvagenas commented on #1218
Issue related to #1215

[2016-06-28 07:11] gvagenas commented on #1215
Moved to 7.9.0 to work on the issue after VoiceInterpreter refactoring

[2016-06-28 07:12] gvagenas commented on #1205
Related to #1182

[2016-06-28 07:12] gvagenas commented on #1204
Related to #1182

[2016-06-28 07:12] gvagenas commented on #1203
Related to #1182

[2016-06-28 07:12] gvagenas commented on #1193
Related to #1182

[2016-06-28 07:12] gvagenas commented on #1192
Related to #1182

[2016-06-28 07:49] leftyb opened #1224 "RestComm auto-config scripts support for OSx."
[Commit1](https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/0558994c44e43d90a2838c51da60210c62e7d372)

[Commit2](https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/082948656b0d4a3c8c9c220665c92fbcbe3f9423)

[2016-06-28 18:02] gvagenas commented on #1192
Restcomm patch is ready and tested with RMS 4.2.0 snapshot and works great.
Issue moved to 7.9.0 and will be merged to master when Restcomm upgrade to RMS 4.2.0

[2016-06-29 07:35] otsakir opened #1225 "Implement new 'Process' RVD element"
Create a new RVD element that will be able ti carry out simple expression based operations like assignments, arithmetic and string operations etc.

[2016-06-29 08:59] #1222 closed

[2016-06-29 11:56] gvagenas opened #1226 "All Restcomm REST API responses should have Restcomm instance ID and version"

[2016-06-29 11:57] gvagenas opened #1227 "Add Conference Monitoring Service"

[2016-06-29 12:22] #1166 closed

[2016-06-29 12:59] leftyb opened #1228 "Update Documentation for latest configuration options on RC, docker n RMS."
http://documentation.telestax.com/connect/configuration/index.html

[2016-06-29 13:06] vfpuglia opened #1229 "Unable to send SMS after Conference"
call flow starts with prompting the caller with a 'say' and enters them into a conference using a 'dial'. The SMS fails if attempted after the ‘dial’ in the same module OR attempted in a separate module via the ‘dial’-continue to command. From the RVD logs, the RCML is properly generated yet SMS is not being sent. Confirmed that a simple SMS app will work.

[conf_sms.zip](https://github.com/RestCo

[2016-06-29 13:06] leftyb opened #1230 "support MySQL configuration"

[2016-06-29 13:09] leftyb commented on #1230
close with: https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/5d19f2b8d5146038a1b7c52249da762bf07c20e4

[2016-06-29 13:09] #1230 closed

[2016-06-29 13:10] leftyb opened #1231 "support SMTP configuration"

[2016-06-29 13:11] #1231 closed

[2016-06-29 13:12] leftyb opened #1232 "Support Graylog Monitoring."

[2016-06-29 13:13] leftyb commented on #1232
close with : https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/efc243b351761c8f9da261d041d6ebbf62c23e69

[2016-06-29 13:13] #1232 closed

[2016-06-29 13:14] leftyb opened #1233 "support S3_BUCKET configuration for Recording."

[2016-06-29 13:15] leftyb commented on #1233
closes with : https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/5d19f2b8d5146038a1b7c52249da762bf07c20e4

[2016-06-29 13:15] #1233 closed

[2016-06-29 13:18] leftyb opened #1234 "Support for multi transport LoadBalancer configuration."
LB algorithm: "useloadbalancer"

[2016-06-29 13:18] vfpuglia opened #1235 "Record will not start if 'play beep' is set to 'yes'"
Call flow starts with prompting the caller with a 'say' than starting a 'record'. If 'play beep' is set to 'yes' then the record won’t start unless the user hits a DTMF. If ‘play beep’ is set to ‘no’ the issue goes away and the recording starts but a beep is still heard.

[rec_test.zip](https://github.com/RestComm/Restcomm-Connect/files/339339/rec_test.zip)

[2016-06-29 13:23] leftyb commented on #1234
closed with : https://github.com/RestComm/Restcomm-Connect/pull/1161/commits/bf53ccf78a4a64dd9ff43d7177304a558ea6bf23

[2016-06-29 13:23] #1234 closed

[2016-06-29 13:36] otsakir opened #1236 "Review security rules are properly applied in a reallistic context (SSO)"
Make sure oauth tokens and the security rules that use them behave properly in an more complex environments with different instances registered under different domains etc.

[2016-06-29 13:52] otsakir opened #1237 "Logout operation is broken in keycloak-auth mode"
Both AdminUI and RVD suffer from that and a *Internal Server Error 500* appears when redirected to keycloak

[2016-06-29 13:52] #965 closed

[2016-06-29 13:53] #1001 closed

[2016-06-29 13:53] #1186 closed

[2016-06-29 15:11] otsakir opened #1238 "Sometimes authorization fails after newlly registered instances"
The issue happens occasionally after successful identity registration. AdminUI seems to retrieve initial configuration data from Restcomm and also acquires a Bearer token successfully.

First use of restcomm REST API fails though and returns 401.

[2016-06-29 15:25] #1224 closed

[2016-06-29 15:25] #1167 closed

[2016-06-29 15:27] leftyb commented on #1056
closed with : https://github.com/RestComm/Restcomm-Connect/pull/1217/commits/5d19f2b8d5146038a1b7c52249da762bf07c20e4

[2016-06-29 15:27] #1056 closed

[2016-06-29 15:56] deruelle commented on #1208
@otsakir New method seems cleaner. But I don't have strong preferences.

[2016-06-30 05:57] muhammadbilal19 commented on #1
@deruelle @gvagenas  i am currently on travel will be back on Sunday than start my work on this issue. Sorry for not giving you update was bit busy. I will start working on this issue when i come back.

[2016-06-30 09:35] gvagenas commented on #5
PR reviewed and merged . Great job @maria-farooq

[2016-06-30 09:35] #5 closed

[2016-06-30 09:49] leftyb opened #1239 "RC configuration files final fixes and comments."

[2016-06-30 10:25] #1239 closed

[2016-06-30 10:42] #1000 closed

[2016-06-30 10:43] gvagenas commented on #1000
Closed with PR https://github.com/RestComm/Restcomm-Connect/pull/1241

[2016-06-30 11:37] leftyb opened #1242 "Fix configuration scrpts to use correct WSS/WS port at the olympus login page."

[2016-06-30 11:44] #1242 closed

[2016-06-30 13:23] #1237 closed

[2016-06-30 14:37] deruelle commented on #376
@rlimonta sorry about the delay, just came back from business travels. Do you want to provide the https://github.com/rlimonta/restcomm-stats project as a new folder in https://github.com/RestComm/commons ?

For the server side I created https://github.com/RestComm/statistics-service and added you as collaborator there, you can accept invitation at https://github.com/RestComm/statistics-service/inv

[2016-06-30 17:15] leftyb opened #1243 "Cleanup config-mysql.sh"
eliminate Duplicate download of mysql driver.

[2016-06-30 17:16] #1243 closed

[2016-06-30 17:31] gvagenas opened #1244 "Restcomm testsuite fails when using Sip Servlets 3.1.738"
Problem is that Restcomm sip servlets are loaded as web servlets:

[code]

[2016-06-30 19:32] #1244 closed

[2016-06-30 20:10] gvagenas opened #1245 "Restcomm DB upgrade scripts fail to run at Amazon RDS MySQL engine"
This seems to be a flyway issue and for this I created an issue to the project: https://github.com/flyway/flyway/issues/1354

[2016-06-30 20:30] gvagenas opened #1246 "Upgrade db upgrade scripts to FlywayDB 4.0.3"

[2016-06-30 20:37] #1246 closed

[2016-07-01 10:15] gvagenas commented on #1154
closing since we implement #1104

[2016-07-01 10:15] #1154 closed

[2016-07-01 10:28] #1151 closed

[2016-07-01 10:58] leftyb opened #1247 "Create Manual Db upgrade script for 7.7.0"

[2016-07-01 11:01] leftyb commented on #1247
Closes : https://github.com/RestComm/Restcomm-Connect/commit/bc52e4cc7610a92da28b92166346e7bb506a40cb

[2016-07-01 11:01] #1247 closed

[2016-07-01 13:55] leftyb opened #1248 "Conference is not cleaned properly."
Calls are staying/hanging  at the conference.

As a result music on hold cannot be heard.
13:39:56,662 INFO  [org.mobicents.servlet.restcomm.interpreter.VoiceInterpreter](RestComm-akka.actor.default-dispatcher-2363) At conferencing, state: joining conference , playMusicForConference: true conferenceInfo.participants().size(): 4

[2016-07-01 14:03] maria-farooq commented on #1104
http://www.plantuml.com/plantuml/svg/lLZRRkCs47ttLyn3qSP0iexP0biOzIA1amB68bdNSM-0NsYASjbAf4lAReqq_zuX9KkKTR6SJPk789Q6SpcSENCSoXAbOKPr8fZOK9aCU_Ju4Udvx-7g0yovIPYAun4OiHcOO0CJ6aN3tk4vN5rzyCyuEnXUNmyMUY_asZD4PmzFQ12l6NgPJtuPBUNpJ8kOwZq-LIl1k4pCOAL5iEQ3BswSEVc6VBkKXZCb0pJqxCHE-qOlFVjdEMSNwcdB63V6Hgi46NO9CYm5gQ_duSxLqtWGWrlWfdUZuILW6CbP8fHCFq_opmygu0WXbu7cR7UgfANqZe88CB081TSDIQRNPu5F8x3T29XB2WsaicSPTQw

[2016-07-01 14:36] leftyb opened #1249 "Conference warning sound on participant enter and/or exit cannot be heard."
The typical sound when somebody enters or exits the conference cannot be heard.
Pleas ask for logs from @leftyb

[2016-07-01 15:05] rlimonta commented on #376
@deruelle I'll finish on this weekend and publish on the OpenShift.

We need to define a unique id for each environment. Do you have any suggestion?

[2016-07-01 15:17] croufay opened #1250 "Improve Restcomm default Demo Apps to include advanced features"
Ex. A user can send SMS and Restcomm use External Services to check if text like SUBSCRIBE, UNSUBSCRIBE is in the message and act accordingly

Ex. An app that simulate Billing

Ex. An app that does live call modification

etc..

[2016-07-01 15:19] deruelle commented on #1104
Thanks @maria-farooq. This looks good to me and what I had in mind. I would like @hrosa to review as well for full correctness of MGCP messages.

[2016-07-01 15:21] deruelle commented on #1250
@croufay please create one issue per new demo that should be added.

[2016-07-01 15:24] maria-farooq commented on #1104
updated ports in diagram. previously there were some typo in them

[2016-07-01 15:39] croufay opened #1251 "Improve Restcomm default Demo Apps - Simulate Billing"
Improve Restcomm default Demo Apps - Simulate Billing

An app that will simulate billing and check if caller has enough balance before putting the call through

[2016-07-01 15:41] croufay opened #1252 "Improve Restcomm default Demo Apps - Live Call Modification"
Improve Restcomm default Demo Apps - Live Call Modification

A user calls and hear wait message and will be able to press 1 to call number 1234 and press 2 to go back to a conference bridge and hear wait music

[2016-07-01 16:45] hrosa commented on #1104
Hi @maria-farooq @deruelle

I think it would be a good idea for you to push your diagram code to [this folder](https://github.com/RestComm/Restcomm-Connect/tree/master/architecture_diagrams/mscontrol) so that we can comment inline.

First, I would also advice **NOT** to repeat endpoint IDs in the diagram so we can read it better and avoid confusing to which MS and endpoint belongs.

You can erase

[2016-07-01 16:49] hrosa commented on #1104
Visual representation of a clustered conference can be found [here](https://docs.google.com/drawings/d/1Y8u5rGoqrXig8Wchnbhy2ZyIBUJ9wHUGyrQxkXPRF8A/edit?usp=sharing).

[2016-07-01 18:05] ghjansen commented on #748
Mostly done. Only be sure that the current behaviour is the expecte one.

[2016-07-01 18:07] ghjansen commented on #1094
Will be finished when #1107 is finished also.

[2016-07-01 18:08] ghjansen commented on #1107
Needs to replace the usage of `MybatisRegistrationsDao.getRegistrations` by `MybatisRegistrationsDao.getRegistrationsByAoR`.

[2016-07-01 18:13] ghjansen commented on #1134
Check if this parameter will really needs to be created of if we intend to disable calls between different Organizations.

[2016-07-01 20:21] maria-farooq commented on #1104
@hrosa thanks a lot for the feedback, i ll follow through..

[2016-07-02 10:42] maria-farooq commented on #1104
@hrosa

As you said above is an unnecessary operation and will be removed from flow soon, so i removed all MDCX calls for ivr sent after CRCX:
what about following?

Do we have any purpose for this call? this one is also called after creating connection (CRCX) b/w bridge and conference endpoint.

thanks

[2016-07-02 10:58] maria-farooq commented on #1104
updated diagram with:
- removed MDCX for ivr
- corrected NTFY direction
- created connection b/w new bridges and conference endpoints

http://www.plantuml.com/plantuml/svg/tLVBRkCs5DtxAxWesWH8nX4JO02Z7YHmKi0O9ECwxWlmXgOebwr4kYJj6SFrl_UIaYLAbcHvKdJHB8949E_ptCD3GerKQ4AKuPIlY311ZrG_uPw_Zgu_e2dJXiea6I3DLtqThj28n77GEtn7rzSV_3Dk7mfkRlepjULYwMq4Oy-li25PKh0o7Vqwc8lTHF64g2rybGjEcJ2wlr0yNBB-D_TkExx3x-T2Cof5

[2016-07-03 20:03] deruelle commented on #1104
Thanks @maria-farooq can you also include the resource cleanup and conference termination in the same diagram or a new one ?

[2016-07-03 20:18] maria-farooq commented on #1104
ok @deruelle  i will add it, preferably in a new one which starts from 1 participant leaving the conference and then evetually the last one.
thanks

[2016-07-03 20:24] deruelle commented on #1104
@maria-farooq great ! makes sense to me

[2016-07-03 20:33] deruelle commented on #376
Thanks @rlimonta.

Can you describe what you mean by what an environment means here and why a unique id is required ?

[2016-07-03 20:39] #982 closed

[2016-07-03 20:40] #446 closed

[2016-07-03 20:40] #621 closed

[2016-07-03 20:42] #871 closed

[2016-07-03 21:38] rlimonta commented on #376
@deruelle The stats module will receive information from various environments. If we want to have a vision for the specific environment, I think it would be important to have a unique identifier. Otherwise, we may forget this item.

[2016-07-04 07:01] deruelle commented on #376
@rlimonta Can we use the project name and version (ie Restcomm-Connect 7.7.0 by example) has a unique identifier and potentially include it also in the information sent ? This would allow us to break down per project and per version which system is sending more traffic and see the penetration of particular versions over others like Android and Apple are showing the penetration of particular versio

[2016-07-04 11:52] rlimonta commented on #376
@deruelle Yes, it´s possible!

[2016-07-04 12:09] maria-farooq commented on #1104
@hrosa  @deruelle  here are snapshots of planned resource creation and cleanup
https://docs.google.com/presentation/d/1rr2O3aBHaw9tQEYwzaI3uheoSj76lxSBlqhvf3vkhZE/edit#slide=id.p

[2016-07-04 12:26] maria-farooq commented on #1104
i will attach the sequence diagram for it as well.

[2016-07-04 12:58] deruelle commented on #1104
It looks like it leaves a bridge on the other RMS left not being connected to anything. Shouldn't it be cleaned up as well ?

[2016-07-04 15:17] otsakir opened #1255 "Review RVD behaviour with project of unknown version (future versions)"
When restcomm is reverted to an older version but same RVD workspace is kept, the error in the log file are not really helpful. Need to review the error messages and possibly total RVD behavior in such cases. For example, failure to upgrade a project should not brake other projects etc.

[2016-07-04 15:39] gvagenas opened #1256 "HttpClient CookieSpecs should be STANDARD"
fails on EAP 6.4

[2016-07-04 15:41] #1256 closed

[2016-07-04 17:44] #1245 closed

[2016-07-04 22:53] maria-farooq commented on #1104
Yes but i left it intentionally as a point.
this is a bit complex situation, participant-1 might not be the only one connected to that bridge..
we have taken a very simple 2 participant and 2RMS example, which is very simple compare to many other scenarios.

[2016-07-04 23:41] maria-farooq commented on #1104
Better explained in these diagrams:
[Cascading Conference Creation PNG](https://github.com/maria-farooq/Restcomm-Connect/blob/issue-1154/architecture_diagrams/mscontrol/cascading-conference-creation.png)
[Cascading Conference Creation PNG](https://github.com/maria-farooq/Restcomm-Connect/blob/issue-1154/architecture_diagrams/mscontrol/cascading-conference-creation.adoc)
[Cascading Conference Clean

[2016-07-05 05:50] otsakir opened #1257 "Display linked status and support user unlinking in AdminUI"
The linking status of an account should be displayed in AdminUI and under conditions allowed to be modified.

[2016-07-05 10:02] muhammadbilal19 commented on #898
While implementing the API i was also thinking the same thing why we need to use two different classes for json and xml. I recently implement this feature in one of my project, this thing can be achieve using Content Negotiation. I already implement this functionality using RestEasy API it is quite easy and straight forward in it.
https://docs.jboss.org/resteasy/docs/3.0.6.Final/userguide/html/JAX

[2016-07-05 10:04] muhammadbilal19 commented on #1168
@otsakir can you please comment on my previous comment.

[2016-07-05 10:37] muhammadbilal19 commented on #597
@deruelle look like a duplicate issue #1121 or any additional thing required in this?

[2016-07-05 10:45] deruelle commented on #597
yes it is a duplicate of #1121. marking it as duplicate and closing

[2016-07-05 10:45] #597 closed

[2016-07-05 11:34] hrosa commented on #1104
@maria-farooq agree with @deruelle when he says that bridge/4 should be deleted as well in this case.

In this example, he is :)

[2016-07-05 11:36] hrosa commented on #1104
@maria-farooq I think it's bad idea to add .png files to the github repo. The repo size will increase very fast like this. Please add .png to .gitignore.
There are tools online that let us render the .adoc code. That's the beauty of it.

[2016-07-05 11:40] maria-farooq commented on #1104
thanks @hrosa
Yes agree with deleting those bridges as well, as i have added their deletion in new plantuml cleanup diagram.
Agree on not pushing .png file as well.

[2016-07-05 13:42] otsakir commented on #1168
@muhammadbilal19, appologies for the delay. Your comment fell through the cracks :-(.

* Indeed, it seems that allowing an admin to change his own role is not really necessary, i agree.
* The Default Admin may have administrator sub-accounts. I think that's ok. Default Admin should take care when someone is made admin (not sure if i got your second bullet here).
* In general, allowing an account c

[2016-07-06 06:11] akoomogul opened #1258 "ICE failed, see about:webrtc for more details"
I am working with restcomm web sdk. I have successfully implemented demo application on my local server but now I am trying to integrate it with my existing web application which will support audio/video calls. But with my existing web application it throws **ICE failed, see about:webrtc for more details** on firefox browser.

I am testing this scenario on my local environment. I can't figure it o

[2016-07-06 07:35] atsakiridis commented on #1258
This issue is discussed on stack overflow: http://stackoverflow.com/questions/38217107/ice-failed-see-aboutwebrtc-for-more-details-in-restcomm. Closing it here for now, until we figure out if it is configuration issue.

[2016-07-06 07:35] #1258 closed

[2016-07-06 07:44] leftyb opened #1259 "Fix LB configuration"

[2016-07-06 08:43] deruelle commented on #1168
As a general rule, there is some documentation on accounts and sub accounts at http://documentation.telestax.com/connect/api/Restcomm%20-%20Multi-tenancy%20and%20Managing%20Sub-Accounts.html#restcomm-rest-api. If there is not enough information. Please consider contributing changes to it at https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.docs/sources-asciidoc/src/main/as

[2016-07-06 09:01] leftyb commented on #1259
- Add hostname resolution control.
- Fix certificate mss configuration is port offset is used.
- Fix olympus port at the login page when LB is used.

[2016-07-06 09:25] deruelle opened #1260 "How to use Olympus Documentation is outdated"
http://documentation.telestax.com/connect/tutorials/how-to-use-olympus-with-restcomm.html#olympus is outdated. will be revamped once the new Olympus will be ready.

[2016-07-06 12:18] bourgois opened #1261 "How to prevent usage of Cache in Restcomm within RVD"
In case I have RVD requesting an external service to get an audio file to play, I don't want to use a cache version if the service is down but I would like to get an error and be able to move to a default local file.
A bypassCache option for Play and Say actions would be great.

[2016-07-06 13:54] otsakir commented on #1261
So, what exactly is the issue here? Does Restcomm cache .wav files resulting is illusive behavior when the actual service that produces these files is down ?

If that's the case, a bypassCache options might help. But since RCML is a pretty declarative thing, i think we should define another property to cover what to do in such cases. Maybe a fallback url to the .wav, an action url? not sure... Won

[2016-07-07 08:28] leftyb opened #1262 "When RC is under LB rejects the call for registration to different instance."
When RC is under LB controls the WebRTC client registration, and reject the call if user is register to different RC instance.

Logs:
08:22:11,244 WARN  [org.mobicents.servlet.restcomm.telephony.CallManager] (RestComm-akka.actor.default-dispatcher-2132) Cannot create call for user agent: sip:alice@*.*.*.*:40704;transport=wss since this is a webrtc client registered in another Restcomm instance.

[2016-07-07 08:42] leftyb commented on #1262
From RC side, can look for the LB header and disable/enable  this functionality:
From the REGISTER message :

08:34:55,139 DEBUG [gov.nist.javax.sip.stack.ConnectionOrientedMessageChannel] (pool-AffinityJAIN-thread-43) hop port = 5083 for request REGISTER sip:staging.restcomm.com SIP/2.0
Call-ID: 1467880495058
CSeq: 1 REGISTER
From: <sip:alice@staging.restcomm.com>;tag=1467880495059
To: <sip:alice

[2016-07-07 08:51] deruelle commented on #376
@rlimonta great let me know when ready then and when you pushed the code to the new repo

[2016-07-07 11:19] gvagenas commented on #1262
@leftyb When WebRTC clients registers with LB there will be one websocket connection, Client - WebSocket.
Next, LB will pick one of the available Restcomm nodes, will create websocket connection and will dispatch the REGISTER message for the client to register.
Finally there will be 2 websocket connections, Client to LB and LB to Restcomm_Node_X.

For Restcomm (or any other sip entity) to dial a W

[2016-07-07 14:12] ivelin opened #1263 "VOICE ANALYTICS GRAPH - Minutes line always flat"
The minutes line does not seem to be accurately measuring call minutes for the restcomm account. See screenshot.

![capture](https://cloud.githubusercontent.com/assets/2234901/16656098/fb93d8f6-4465-11e6-9d58-e30660a51e19.PNG)

[2016-07-07 14:47] otsakir opened #1264 "[Investigate] Reducing number of keycloak clients to one-per-instance"
There is a chance that current implementation works with having a single keycloak client entity per restcomm instance. Current implementation already works for four and there seems to be a great deal of flexibility lost if we keep only one. It's important to have this clear now though.

[2016-07-07 14:50] rlimonta commented on #376
@deruelle Hello Jean, I'm sorry for the delay, I had a little contretemps in the last days.
I need just finish the dashboards charts, and I'll finish today.

[2016-07-07 15:01] otsakir commented on #1264
The concept seems to work in principle. Will need to investigate further.

[2016-07-08 09:13] #1264 closed

[2016-07-08 13:24] rlimonta commented on #376
@deruelle I finished the implementation of the web module. Today I will publish into the OpenShift.

I tried to commit the cliente module into commons folder, but I'm not allowed to create sub-folders. You could create a folder called statistics?

I'm sending some screenshots from web module.

Best regards.

![stats_dashboard](https://cloud.githubusercontent.com/assets/19157645/16688784/17f907b0-4

[2016-07-08 13:30] gvagenas opened #1266 "Include InstanceID in the CallSID"
... so sip responses and requests generated by Restcomm will include the instance id

[2016-07-08 13:43] leftyb opened #1267 "Modify Scripts for OSx, and add additional RMS5 pool configuration."
Related to issue[https://github.com/RestComm/Restcomm-Connect/pull/1253]

[2016-07-08 14:34] deruelle commented on #309
@brainslog @otsakir @croufay any chance we can fix that one soon ?

[2016-07-08 14:34] deruelle commented on #1263
Duplicate of https://github.com/RestComm/Restcomm-Connect/issues/309

[2016-07-08 14:34] #1263 closed

[2016-07-08 14:50] brainslog commented on #309
Is this still happening ? I think last time I've checked it was working properly, will validate again.

[2016-07-08 15:05] leftyb opened #1268 "Conference call is dropped (NEXMO drops calls after 30s period of inactivity) if for any reason there silence at the bridge."
There are various scenarios that can reproduce this.
1.) If all participants are muted.
2.) If only one participant left at the bridge.
3.) etc

[2016-07-08 15:19] deruelle commented on #1266
Useful for Live Call Modifications in a cluster to stick to same node without any state storing

[2016-07-08 15:20] deruelle commented on #1266
tied to https://github.com/RestComm/sip-servlets/issues/172

[2016-07-08 15:27] deruelle commented on #309
Yes. Thanks @brainslog

[2016-07-08 15:54] hrosa commented on #1268
Until we have opportunity to implement Comfort Noise Generator (CNG), a possible workaround would be:

1. Participants == 1, then RestComm issues Play(silence.wav, it=infinite)
2. MS plays silent wav in loop
3. Participants == 2, then RestComm issues EndSignal
4. MS stops playing

Unfortunately, our MGCP EndSignal implementation doesn't do what is supposed to.
So, the only workaround I see availab

[2016-07-08 16:02] leftyb commented on #1267
Includes some minor fixes on :
- LB configuration.
- Add INITIAL_ADMIN_USER
- Add hostname to use at /etc/hosts file if not a proper (DNS) hostname used.
- Change log level, added (CONSOLE, ROOT).

[2016-07-08 16:29] deruelle commented on #376
this look great @rlimonta !
Can you do a pull request on the commons project ? That's how we accept new code usually and allow us to do peer reviews as described in the Open Source Playbook.

Is the data shown in the graph available through a REST API ? If multiple VMs are running with the commons stats module activated I assume the server side is concatenating results from all VM over time as wel

[2016-07-08 20:13] rlimonta commented on #376
@deruelle I committed the statistics-service module into repository successfully. About the commons module, I can't make a pull request. I need select one source branch first.

About your questions:
_**"Is the data shown in the graph available through a REST API ?"**_
Yes, it's totally possible access through a REST API, I can implement the @GET methods.

_**"If multiple VMs are running with the c

[2016-07-08 21:16] deruelle opened #1270 "Delete an account doesn't work"
http://documentation.telestax.com/connect/api/account-api.html#delete-sub-accounts

`curl -X DELETE https://[primarysid]:|PWD]@cloud.restcomm.com/restcomm/2012-04-24/Accounts/AC3b8f0dd2e5026abde018446cbb3b185d.json` returns
=> The specified HTTP method is not allowed for the requested resource

Also Admin UI doesn't allow to delete a sub account

![screenshot from 2016-07-08 23 14 17](https://clou

[2016-07-10 05:19] otsakir opened #1271 "Review old setup scripts for integration testing with keycloak"
There have been some startup/teardown scripts that handle keycloak download, installation, configuration and startup/teardown besides a restcomm installation. They need to be reviewed and updated to work with jenkins automated builds and local integration testing.

[2016-07-10 17:10] otsakir opened #1272 "Properly handle Identity users with no respective Restcomm accounts"
When a user has authenticated into identity.restcomm.com but has no respective account in a restcomm instance (no account email_address same as the user's username) an appropriate error screen should appear.

Currently the 'unlinked' view appears along with a basic HTTP authentication message.

[2016-07-11 06:45] #1262 closed

[2016-07-11 07:38] #1266 closed

[2016-07-11 10:10] #1272 closed

[2016-07-11 10:11] #1257 closed

[2016-07-11 10:47] #1208 closed

[2016-07-11 10:47] #1157 closed

[2016-07-11 14:36] gvagenas commented on #1270
@deruelle To use the JSON endpoint you need to use "Accounts.json" in the url. Will update docs and there is already an issue for the REST API inconsistency https://github.com/RestComm/Restcomm-Connect/issues/898

[2016-07-11 15:04] deruelle commented on #1270
@gvagenas so curl -X DELETE https://[primarysid]:|PWD]@cloud.restcomm.com/restcomm/2012-04-24/Accounts.json/AC3b8f0dd2e5026abde018446cbb3b185d or curl -X DELETE https://[primarysid]:|PWD]@cloud.restcomm.com/restcomm/2012-04-24/Accounts.json?AC3b8f0dd2e5026abde018446cbb3b185d or something else ?

[2016-07-11 15:05] gvagenas commented on #1270
@deruelle This one:
curl -X DELETE https://[primarysid]:|PWD]@cloud.restcomm.com/restcomm/2012-04-24/Accounts.json/AC3b8f0dd2e5026abde018446cbb3b185d.json

[2016-07-11 15:27] deruelle commented on #1270
@gvagenas  Thanks that worked.

@otsakir @brainslog can you look at Admin UI and see why the Delete Account Button doesn't work ?

[2016-07-11 17:33] deruelle commented on #1
Thanks @muhammadbilal19 looking forward to it.

[2016-07-11 17:45] deruelle commented on #376
@rlimonta did you follow the procedure at https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.mcjitemt6ng1 for creating your own fork, committing to it and then doing a Pull Request from it ?

Great, let's do it

Great on concatenation.

Did you write some tutorial on how to deploy the server side to OpenShift by example ?

[2016-07-11 17:51] deruelle commented on #1141
In the future https://github.com/RestComm/sbc can be used for NAT Handling.

[2016-07-11 17:56] deruelle commented on #1010
@zahidMed Were you able to move forward on this further by any chance  ?

[2016-07-11 21:50] rlimonta commented on #376
@deruelle Thank you for your response, now I got it :)

About the OpenShift, we can do in two ways:

_01) I can create a environment associated with  my account.

02) You can create an environment associated with a project account. We need Wildfly 10 and MongoDB._

One important thing is about the hostname. The client module sends messages to http://stats.restcomm.com:8080/statistics/rest/.

This

[2016-07-12 09:52] deruelle commented on #792
@gvagenas can you paste the link to the design documents that was created for that ?

[2016-07-12 10:02] muhammadbilal19 commented on #797
@atsakiridis @deruelle @gvagenas

I don't whether anyone of you tried this one or not i just used it today with the latest code and it  works as this issue is fixed in this commit 082948656b0d4a3c8c9c220665c92fbcbe3f9423

[2016-07-12 10:14] gvagenas commented on #792
@deruelle there are no design documents for this issue. We have an email thread with subject "Restcomm early media support for inbound and outbound calls" with comments and suggestions from the team.

[2016-07-12 10:15] gvagenas commented on #792
Also related issue is #936

[2016-07-12 10:18] #1206 closed

[2016-07-12 10:24] muhammadbilal19 commented on #1168
Thanks @otsakir and @deruelle for your comments and apologies for the late reply.

I also agree that the only thing which is required is to allow ADMIN to update its sub accounts. I will create a pull request for this issue after doing above changes.

[2016-07-12 10:27] deruelle commented on #792
@gvagenas can you paste the result of the discussion or the status of where we stood in terms of decisions here ?

[2016-07-12 12:05] zahidMed commented on #1010
yes, I am back

[2016-07-12 12:34] gvagenas opened #1274 "Reject verb is not working"

[2016-07-12 12:39] gvagenas commented on #1274
Reject must be first verb in the RCML

[2016-07-12 12:39] #1274 closed

[2016-07-12 13:01] gvagenas opened #1275 "Reject with reason rejected fails to hangup the call"

[2016-07-12 17:37] deruelle opened #1276 "Rename MMS in MS_COMPATIBILITY_MODE"
Rename MMS to RMS and Mobicents Media Server to Restcomm Media server at https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/configuration/config-scripts/as7-config-scripts/restcomm/restcomm.conf#L27

[2016-07-12 20:03] deruelle commented on #376
@rlimonta let me try to create my own environment on OpenShift to test the documentation.
Can you create a tutorial in asciidoc format push it to the statistics-service repo ?

[2016-07-12 21:42] rlimonta commented on #376
@deruelle Yes, I will work on documentation and @GET methods.

[2016-07-12 23:51] muhammadbilal19 commented on #1
@deruelle @gvagenas i did some changes in VoiceInterpreter can you guys guide me how can i test these changes. For others verbs and nouns we can create a rvd project and test it, is there any way to manually mention some rcml file where i can put my enqueue rcml for testing.

[2016-07-13 00:19] muhammadbilal19 commented on #1270
@deruelle just by looking into the UI page i can see this button is doing nothing there is no action attached with this button. So we need to write a new JS function for delete account call and attached it with this delete button.

[2016-07-13 07:56] gvagenas commented on #792
@deruelle the results of the brainstorming was the following:

For outgoing calls, Restcomm will send the INVITE and will receive 183 Session Progress with SDP. In that case we should refactor the Call actor FSM to setup and open the RTP stream to the caller.

For Inbound calls RCML for Early Media will support all tags/verbs except <Dial>
Example
* INVITE to Restcomm for DID (with either EarlyMed

[2016-07-13 07:59] gvagenas opened #1277 "RestComm Connect SMPP Performance + SMS Action to HTTP application on same server"

[2016-07-13 08:05] gvagenas commented on #1
@muhammadbilal19 For manual testing you can create xml files and place them to $RESTCOMM_HOME/standalone/deployments/restcomm.war/demos.

For example check the hello-world.xml RCML application.

Then at your number assign a URL /restcomm/demos/hello-world.xml

George

[2016-07-13 10:34] maria-farooq commented on #1104
I have changed MMSConferenceController and MMSCallController to be able to select MediaGatewy from a list of available(poweredON) MS.

Each time CallManager Create a new call we get MMSCallController with next MS (roundrobin)
Each time ConferenceCenter Create a new conference we get MMSConferenceController with next MS (roundrobin)

Problem?
As per our design we need conferenceEndpoint from same M

[2016-07-13 12:30] #1275 closed

[2016-07-13 13:31] gvagenas opened #1278 "Problem for peer to peer calls when client's friendly name is not set the same as the login"

[2016-07-13 13:45] otsakir opened #1279 "Review logging statements in SSO extension and make sure they are conditioned"
Quoting from george's comment:

[2016-07-13 14:44] #1278 closed

[2016-07-13 16:30] deruelle commented on #1270
@muhammadbilal19 would you like to contribute that ?

[2016-07-14 09:02] otsakir opened #1280 "Simplify RVD project build structure"
Currently, when an RVD project is built (that happens when saved) the _state_ file is parsed and a broken-down structure of is created under /data directory. For each element in any module a separate file is created. This _build_ step was introduced so that the whole _state_ file wouldn't need to be parsed on any single module execution for performance reasons. However, breaking the state in small

[2016-07-14 09:13] otsakir opened #1281 "Move RVD project header to a seperate file"
The RVD project state file contains a section called header that includes important information of the management of the application:

[code]

Reading this information is a very common task as it is required when listing  projects. This results in having to parse the whole state file of all projects in a workspace when generating a list of projects. That's too expensive and not necessary.

We shou

[2016-07-14 11:31] leftyb opened #1282 "Under LB ACK Request -URI is not properly patched."
At the  pcap : lbp2p.pcap
package No. 328 the Request-URI is not correct. It uses the private IP address.

Call flow:
P2P SIP call
from alice to bob under LB (edited)
The flow looks good until the time the the p2p connection is about to establish.
So the Dest. client send the ACK to the LB->RC->LB->Src.Client
but the part from RC->LB is wrong
due to erroneous Request-URI

logs :
https://app.box.co

[2016-07-14 11:35] gvagenas commented on #1248
RestComm has to request notification on connection level
then we need to implement timeout mechanism on RTP connection
then have Connection send NTFY to Restcomm

[2016-07-14 11:36] gvagenas commented on #1248
related to https://github.com/RestComm/mediaserver/issues/191 and https://github.com/RestComm/mediaserver/issues/114

[2016-07-14 11:42] otsakir opened #1283 "Allow account creation in 'linked' state"
A new optional parameter should be added to account creation REST method that will set the linked property of the account.

[2016-07-14 13:06] leftyb opened #1284 "When under Load balancer RC needs to use LB ip or domain and port."
At restcomm.xml
[code]
Need to fix the configuration scripts.
Add LBIP  & LBPORT

[2016-07-14 13:09] deruelle commented on #1284
We should be able to specify DNS name too so I would suggest calling it HOST:PORT

[2016-07-14 15:55] bourgois commented on #1261
So we have two different reasons for the bypass cache from my point of view:
1. Cache size/management: I might have millions of files for greetings, I am generating and storing them on the business logic part and don't want to have a cache that I can't control storing them and playing them without my knowledge/control
2. The URL in RVD is correct, the file might not be proper or even the server co

[2016-07-14 18:08] gvagenas opened #1285 "Pass InstanceId to the container to be used for the link with the LB"
Comments from Jean:

[code]

[2016-07-15 08:56] gvagenas commented on #1261
From Restcomm side we could have a flag to disable caching of wav files. We could disable caching only for WAV files, while still cache TTS WAV files.
But disabled cache would be effective throughout the runtime.
Would that help?

[2016-07-15 09:04] deruelle commented on #1261
@gvagenas you mean only for Play Verb but not Say Verb right ?

[2016-07-15 09:10] gvagenas commented on #1261
@deruelle Right, we could have flag to disable cache for PLAY but not for SAY

[2016-07-15 09:24] gvagenas commented on #1282
@leftyb what is the value of "<patch-for-nat-b2bua-sessions>" in the restcomm.xml you test?

[2016-07-15 09:35] bourgois commented on #1261
That sounds like a good plan to me!
Thanks

[2016-07-15 11:57] otsakir commented on #1283
Linked was already there waiting. Only fixes in the test were done.

[2016-07-15 12:32] leftyb opened #1286 "Fix Olympus port when LB is used."
Added a new configuration variable at advanced.conf:
LBOLYMPUSPORT

[2016-07-15 15:08] deruelle commented on #376
Thanks @rlimonta. Looking forward to set it up and start testing

[2016-07-15 15:19] #1286 closed

[2016-07-15 16:01] deruelle commented on #1104
any progress on design here after our last discussion ?

[2016-07-16 19:03] maria-farooq commented on #1104
@deruelle @gvagenas @hrosa
Here are UML diagrams according to our last discussion.
I have pushed .png files for temporary purposes, will remove them at the time of pull.
.adoc files are also pushed in repo in my local branch.

[Sequence Diagram](https://github.com/maria-farooq/Restcomm-Connect/blob/issue-1154/architecture_diagrams/mscontrol/cascadingconference/cascading-conference-mrb-sequence.png

[2016-07-18 08:59] deruelle commented on #1104
@gvagenas @hrosa I already talked to @maria-farooq this morning in our meeting.

One thing to note is how to avoid synchronization issue on ConfSiD creation and on Master RMS assignment when 2 participants joins a conference at the same time.

Please review the class diagram and data model and provide your thoughts as well here

[2016-07-18 12:17] deruelle commented on #1282
@leftyb tested the patch successfully however @gvagenas we should also patch for BYE, right ?

[2016-07-18 15:14] zahidMed commented on #376
@deruelle
I think it's too late for proposal. But I think that stats should be devided into differents layers (ObjectType) each ObjectType contains counters according to the nature of this layer (number of success requests, nbr of failure requests, latency ...). kpi4j was developed for that purpose and can be used in all the modules. the ObjectType activation is done through the config file and I

[2016-07-19 00:43] rlimonta commented on #376
@deruelle I finished the implementation of @GET methods and improved the dashboard graphics. I created a single chart by metric.

Now I need to finish the Installation Guide. I have all screenshots and need to finish the doc.

![screen shot 2016-07-18 at 9 32 56 pm](https://cloud.githubusercontent.com/assets/19157645/16934823/984a0558-4d30-11e6-9fab-a3d5aa8fb97d.png)
![screen shot 2016-07-18 at 9

[2016-07-19 07:43] leftyb opened #1288 "Add USSD configuration at the auto-configuration scripts."

[2016-07-19 09:25] #1259 closed

[2016-07-19 10:03] atsakiridis opened #1290 "Warning when using stop-restcomm.sh script"
When using the latest community version (Restcomm-JBoss-AS7-7.9.0.974) and I execute stop-restcomm.sh I see:

[code]

The command works I just get this warning because it can't find jps tool. I think the reason is that I'm using JRE and jps is only found in JDK. Could we somehow avoid this dependency cause many people trying Restcomm might be in my situation (i.e. not doing dev work with Java).

@

[2016-07-19 10:48] deruelle commented on #797
thanks for testing @muhammadbilal19.

@atsakiridis @ghjansen @hrosa can you confirm too so we can close this issue ?

[2016-07-19 10:50] deruelle commented on #1168
Thanks @muhammadbilal19 . Please refer to the Pull request here once done so it can be reviewed

[2016-07-19 11:07] leftyb opened #1291 "Fix RC bind IP detection (read-network-props.sh) for arch based linux."
Using arch based linux, read-network-props.sh script is not properly setting the bind address to be used for RC, as it uses different  list output.
I think that we need to consider using ip command for linux.

[2016-07-19 14:15] #1288 closed

[2016-07-20 03:59] muhammadbilal19 commented on #1168
@deruelle Pull request created for this issue #1294

[2016-07-20 12:45] deruelle commented on #932
@maria-farooq is this completed and ready to be merged ?

[2016-07-20 14:21] maria-farooq commented on #932
@deruelle yes it is and can be merged. But I had discussion with @gvagenas on its merging and its better if we fix conference #1104  on multiple media-servers as well.
Apart from conference call works on this branch. and test cases are also passing.

[2016-07-21 08:33] deruelle commented on #376
@rlimonta looking better by the day. Looking forward to the doc to set it up !

[2016-07-21 12:14] rlimonta commented on #376
@deruelle In the last three days I had problems accessing OpenShift environment.

I do not know if this is true for all plans or only for free instances.

What do you think of using another alternative like Doker, AWS, etc ?

I received this message:
![screenshot from 2016-07-20 19_20_09](https://cloud.githubusercontent.com/assets/19157645/17022279/74e55924-4f23-11e6-88ca-f6885c2141ec.png)

[2016-07-21 12:37] deruelle commented on #376
It seems to work on my side. But I'm fine to have a Docker guide to start with.

[2016-07-21 12:48] rlimonta commented on #376
Ok.

[2016-07-21 13:05] deruelle opened #1295 "AccountSid is always the same for a given email address"
If I create,  delete and recreate an Account with email address jean.deruelle@gmail.com by example the AccountSid is always the same, it should be unique and random to avoid easy guess of it.

[2016-07-22 00:12] brainslog commented on #309
After investigation, I figured this issue occurs due to MySQL/MariaDB not allowing to use double-quotes (`"`) for the table fields, as we do @ https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.dao/src/main/java/org/mobicents/servlet/restcomm/dao/mybatis/MybatisUsageDao.java#L160 for duration.

It seems there's no common way for HSQLDB (only accepts `"`) and MariaDB (accept

[2016-07-25 08:34] otsakir opened #1296 "Review naming of an OrganizationIdentity"
### Cloud installations
An OrganizationIdentity (formerly known as IdentityInstance) should be named after the organization (domain) name as discussed on the 'SSO security' draft discussion. Thus, organization  'telestax.restcomm.com' has the name 'telestax' and will result in creating an OrganizationIdentity and KCClient named 'telestax-restcomm'.

### Standalone installations (local, Amazon etc.

[2016-07-25 09:40] otsakir opened #1297 "Create role for Organization access and check for it"
When a new OrganizationIdentity is created the respective KCClient should contain a role that will grant access to this organization. On the restcomm side, any incoming request should be checked for the existence of such a role.

[2016-07-25 12:56] deruelle commented on #1213
@ivelin the Admin UI on Cloud now shows the application names correctly. Can you comment on whether that already improves or if you need anything else ?

[2016-07-25 13:41] deruelle commented on #1180
Reopening issue as it was reported today on cloud that 2 persons were waiting with music on hold until me the 3rd participant joined and we were all bridged together. This is happening on 7.8.0

[2016-07-25 13:42] deruelle commented on #1180
Also tied to issue https://github.com/RestComm/Restcomm-Connect/issues/1180

[2016-07-25 14:19] maria-farooq commented on #1180
@deruelle i have collected the logs. i will truncate them to the problem window you described in chat and will attach here.

[2016-07-25 20:24] maria-farooq commented on #1180
logs: https://drive.google.com/a/telestax.com/folderview?id=0B2CFlEFeY-zfQmttUWJsQlE1bjA&usp=sharing

[2016-07-25 20:33] ghjansen commented on #797
@deruelle will do and post the result here asap.

[2016-07-25 21:34] atsakiridis commented on #797
@ghjansen thanks for jumping into this, I totally missed it. Btw, @deruelle we were discussing with @leftyb about the use of jps, that seems to not be part of JRE, but only of JDK, which might be an issue in some cases. Anyway, lets verify this and we can discuss about this separately

[2016-07-26 08:02] deruelle commented on #797
@ghjansen @atsakiridis @leftyb Using JDK instead of JRE is fine too IMO if we manage to get better tooling around Restcomm

[2016-07-26 09:19] deruelle commented on #1295
This is needed for Restcomm Cloud and Organizations to work correctly in accordance with https://docs.google.com/a/telestax.com/document/d/11-u99GloDzgfGiImeH4mxL_y3_lbETkNtIflIazFwQw/edit?usp=sharing

[2016-07-26 12:23] #1168 closed

[2016-07-26 12:48] atsakiridis opened #1299 "Sporadically Restcomm doesn't send 200 OK to successfully sent SIP MESSAGE"
Scenario:
- Send SIP text message from android olympus to web olympus
- Message is delivered properly, olympus returns 200 OK to Restcomm
- Restcomm doesn't forward response to sender and issues this exception:

[code]
- Sender times out after SIP timer fires

Full Restcomm server.log:

https://gist.github.com/atsakiridis/8b8d75548945bbfa951d488d503bbab4

Restcomm version: Restcomm 7.9.0.974

[2016-07-26 16:55] atsakiridis opened #1300 "Introduce a new web view for graphical stats for webrtc getStats() per call"
Where the admin can navigate to see information about webrtc calls and troubleshoot as discussed with @deruelle

Related to: https://github.com/RestComm/webrtcomm/issues/53 and https://github.com/RestComm/Restcomm-Connect/issues/1125

Consider if that also makes sense to have in olympus as well

[2016-07-26 19:24] ghjansen commented on #797
@deruelle `stop-restcomm.sh` appears to be working normally in OS X with RC versions 7.8.0 and 7.9.0-SNAPSHOT (built from master), as shown below.

**7.8.0**
[code]

**7.9.0-SNAPSHOT**
[code]

[2016-07-27 06:03] atsakiridis commented on #797
Ok @deruelle, was thinking that in the sense that we would force people who
just want to try/use restcomm without doing any development to install a
slightly heavier env, but I guess the difference isn't that big. Also not
sure if we can workaround the use of jps for OSX with other means, so :)

On Tue, Jul 26, 2016 at 10:24 PM, Guilherme Humberto Jansen <
notifications@github.com> wrote:

--
Anto

[2016-07-27 09:16] leftyb opened #1301 "Investigate on xmstartlet for xml configuration scripts for RC and RMS."
As an example (jboss is using xmsstartlet for the official docker container):

https://goldmann.pl/blog/2014/07/23/customizing-the-configuration-of-the-wildfly-docker-image/#__code_xmlstarlet_code

[2016-07-27 10:14] deruelle commented on #1
@muhammadbilal19 were you able to follow @gvagenas comments on testing ?

[2016-07-27 12:03] otsakir opened #1302 "Add configuration parameter for OrgIdentity naming mode"
A configuration parameter will add some flexibility to the algorithm that generates the Organization Identity naming alrorithm. Initially it will be hardcoded to value 'organization' meaning that the Organization Identity created should use the name of the respective organization domain.

[2016-07-27 12:14] deruelle opened #1303 "Associate HTTP requests to a SIP Call-ID in the logging for easier debugging"
This will allow to Filter the entire flow and all messages for a given call in one filter something like sip.callid == callid || mgcp.customcallidheader == callid || http.customcallidheader == callid
and you get everything in one shot

[2016-07-27 12:15] deruelle opened #1304 "Allow to correlate all messages for one call in a given wireshark trace"
We need a simple wireshark filter that show the entire flow and all messages for a call in one filter something like sip.callid == callid || mgcp.customcallidheader == callid || http.customcallidheader == callid
and you get everything in one shot, all messages for all protocols for the given call

[2016-07-27 12:19] deruelle commented on #1304
- [https://github.com/RestComm/Restcomm-Connect/issues/49] Associate MGCP requests to a SIP Call-ID in the logging for easier debugging
- [https://github.com/RestComm/Restcomm-Connect/issues/1303] Associate HTTP requests to a SIP Call-ID in the logging for easier debugging

[2016-07-27 12:50] leftyb commented on #1267
Closing this issue in order to open a new, which includes only RMS5 modifications and OSx adopt for auto-configuration scripts.

[2016-07-27 12:50] #1267 closed

[2016-07-27 12:51] leftyb opened #1305 "Adopt Auto-configuration scripts for RMS5 and OSx."

[2016-07-28 09:00] deruelle commented on #376
@rlimonta any news on this yet ?

[2016-07-28 10:09] leftyb opened #1306 "Fix HSQL directory change."
The HSQL_DIR needs to change the directory used at restcomm.xml.
There was a bug there and the directory was not set properly.

[2016-08-01 13:00] otsakir opened #1307 "Fix RVD/WebTrigger to handle both object and array json resonses from Restcomm"
When creating calls, Restcomm Calls API will respond with either a call *object* or a calls *array* depending on whether there has been call forking or not. RVD expects only object and thus crashes.

RVD should be updated so that it can handle both types of responses.

[2016-08-02 08:17] gvagenas opened #1308 "Properly ACK a 487 response for a canceled INVITE"

[2016-08-02 08:33] #1308 closed

[2016-08-02 12:13] #1299 closed

[2016-08-02 12:25] otsakir opened #1309 "When clearing filter in AdminUI logs/notifications nothing is displayed"
Try setting a date or a code filter and the clearing it again. All items in the list will be hidden. It's because the filter values are changed from *undefined* to *null*.

[2016-08-02 12:49] #856 closed

[2016-08-02 14:25] #1307 closed

[2016-08-02 16:37] #1282 closed

[2016-08-02 16:40] leftyb commented on #1282
After testing with @gvagenas  latest Modifications (sip, WebRTC )P2P calls works properly on HA. (ACK, BYE, BUSY).

[2016-08-03 07:35] #1228 closed

[2016-08-03 07:40] #309 closed

[2016-08-03 08:38] otsakir commented on #1147
I tried to use a single arquilian container (mss-tomcat-embedded-7) to host both restcomm and RVD. I provided a single test class with two methods annotated with @Deployment. But the container complains that:
[code]
It seems only sip-enabled web archives can be used with the specific container. Thus, RVD is ruled out.

On the other hand having many different containers (one that supports sip for r

[2016-08-03 10:13] deruelle commented on #1010
@zahidMed great. let us know when this is ready for review. Thanks !

[2016-08-04 07:45] gvagenas opened #1311 "Lazy initialize services at VoiceInterpreter"
The following services will be lazy initialized

- asrService
- faxService
- synthesizer
- cache

[2016-08-04 08:49] deruelle commented on #376
@rlimonta were you able to wrap this up by any chance ?

[2016-08-04 10:22] rlimonta commented on #376
@deruelle I apologize for the delay, but I had to travel to work in the last two weeks. I need only finalize the document. I'll work on it and send you until the weekend. The OpenShift environment is running fine now!

[2016-08-04 14:11] deruelle opened #1312 "Support Live Call Modification in a cluster"

[2016-08-04 14:12] deruelle commented on #1312
Link to https://github.com/RestComm/Restcomm-Connect/issues/1285, https://github.com/RestComm/load-balancer/issues/41, https://github.com/RestComm/Restcomm-Connect/issues/1266

[2016-08-05 07:23] silazare commented on #1235
Hi,
Did you able to re-test with the latest binary release? https://mobicents.ci.cloudbees.com/view/RestComm/job/RestComm/lastSuccessfulBuild/artifact/

Tried with attached project and unable to catch it.
When beep=true, call flow is:
Welcome message > Beep signal plays 1 time and record started > recorded message played. Didnt use any DTMF signalls additionally.

When beep=false, call flow is:
We

[2016-08-08 14:51] hamsterksu commented on #1261
our plan to fix this issue:

​1. add new property `<cache-no-wav>` to - https://github.com/RestComm/Restcomm-Connect/blob/d34fd3d41aaaf7978660ae798e670b5f38a1c7ac/restcomm/restcomm.application/src/main/webapp/WEB-INF/conf/restcomm.xml
2. add new flag to `DiskCache.java` to avoid wav caching
3. update `onReceive` to handle this flag
4. add unit tests

[2016-08-08 14:54] otsakir opened #1313 "Review OrgIdentity endpoint and creation method"
OrgIdentity endpoint should be refactored in order to comply with the following:
* Creation method should support a 'Name' parameter. When present the OrgIdentity identity name will be explicitly set to that value.
* No KC client will be created as a result of creating an OrgIdentity. The respective KC client should already be present. It's the responsibility of the external app to do that.
* Disa

[2016-08-08 14:57] otsakir opened #1314 "Review OrgIdentity registration in AdminUI"
AdminUI should be updated to meet the following requirements:
* OrgIdentity registration views/controllers etc. should only support setting the 'name'. We remove IAT (initial access token) and RedirectUrl fields. These should already be set by the external app.

[2016-08-09 01:26] rlimonta commented on #376
@deruelle I wrote the document README.md explaining the deployment process into OpenShift environment. If you have any comments or suggestions, please feel free to let me know.

[2016-08-09 08:31] bourgois commented on #1261
Sounds like a good plan, also the property should be mapped to a ENV variable so we can easily disable/enable it in docker.

[2016-08-10 11:24] otsakir opened #1317 "Setup unit testing for restcomm endpoints by mocking dependencies"
Restcomm endpoints usually contain a lot of code that can only be tested using Arquillian integration tests. It seems possible though to mock all dependent components of an *Endpoint class and apply unit testing checks too.

This issue is about creating the underlying dependent mock objects (configuration, daos, ServletContext and request) and putting the idea to test on a the existing Accounts en

[2016-08-10 14:40] FerUy commented on #586
Updated comment, related to https://github.com/RestComm/ussdgateway/issues/32

[2016-08-10 19:01] vfpuglia commented on #1235
We are using v7.8.0 but this is also using the XMS media server instead of the MSS - I suspect the code is slightly different for this.

[2016-08-12 08:28] #1297 closed

[2016-08-12 08:29] #1317 closed

[2016-08-12 08:33] otsakir commented on #1309
Issue fixed as of a521dfc

[2016-08-12 08:33] #1309 closed

[2016-08-12 08:34] #1283 closed

[2016-08-12 08:36] #1147 closed

[2016-08-12 10:57] otsakir opened #1320 "Provide insight of project status in RVD project manager"
When listing projects RVD should also provide some information regarding project status based on the version. The status should help answer the following questions:

1. Is this project supposed to work ok with current RVD ?
2. Is it very old or does it need upgrade ?
3. Is it completely broken ?

[2016-08-12 12:28] #1255 closed

[2016-08-12 12:30] #1320 closed

[2016-08-12 12:40] otsakir commented on #1270
Before enabling the button, i've just noticed that removing an account doesn't seem to go in much depth. Only the account entity is removed as well as the account's clients. What about Numbers, Applications etc ? Shouldn't these be removed too as well as the remaining entities that are related to this account ?

There is also the solution of marking the account as 'deleted' and keeping it there (i

[2016-08-14 20:02] croufay opened #1321 "Update Documentation for SSL/ HTTPS Restcomm configuration"
Update Documentation for SSL/ HTTPS Restcomm configuration

The following page is out of date

http://documentation.telestax.com/connect/configuration/Restcomm%20-%20Enable%20HTTPS%20secure%20connector%20on%20JBoss%20AS%207%20or%20EAP%206.html#secure

[2016-08-15 10:25] #1229 closed

[2016-08-15 12:52] ghjansen opened #1323 "Adapt performance test scripts to collect data from RMS pid"
The script https://github.com/RestComm/Restcomm-Connect/blob/master/load_tests/run.sh is currently collecting data from RESTCOMM pid, and needs to be able to work also with RMS pid.

The inclusion of a additional flag parameter to indicates if the test should run using RMS pid will set the pid properly and proceed with tests. This new flag will also be included as a parameter inside the CI job.

[2016-08-16 09:32] maria-farooq commented on #1104
After successfully connecting 2 RMS together (for a conference where participants were on difference media-servers)
Here is a list of items TODO to complete this task:

- [ ]

[2016-08-16 16:53] deruelle commented on #1270
@otsakir The suspend feature is already present but you're right I think everything tied to the account should be deleted as well as described in https://www.twilio.com/help/faq/twilio-basics/how-do-i-close-a-subaccount

[2016-08-16 17:52] deruelle commented on #1
@muhammadbilal19 any news on this ?

[2016-08-17 07:30] gvagenas opened #1324 "HTTP Load test CI Job"

[2016-08-17 09:25] gvagenas opened #1325 "Allow Admin UI branding"
Support for replacing logo and labels

[2016-08-17 09:25] gvagenas opened #1326 "Allow RVD branding"
Support replacing logo and labels

[2016-08-17 09:37] gvagenas opened #1327 "Restcomm HTTP requests (download RCML etc) should include InstanceID"

[2016-08-17 09:55] gvagenas opened #1328 "VoiceInterpreter unit tests for various call flows"

[2016-08-17 10:07] gvagenas opened #1329 "CallSID should include InstanceID"
Call SID = current CallSID (random SID) - Instance ID.

This refers to #1327 , #1226

[2016-08-17 15:43] maria-farooq opened #1330 "Conference records from past in RUNNING state in DB"
In restcomm cloud DB, Since 21-July-2016 there are 100plus Conference records are shown with state `RUNNING`
These conference happened in past but never gone to completed state.
This could potentially mean that in conference there are some missing points in conference lifecycle and its cleanup. but we need to investigate it and resolve it before #1104 as conference in cluster has major dependency

[2016-08-18 13:52] hamsterksu commented on #1266
hi @gvagenas

i downloaded restcomm v7.9.0.987 released 08/15/2016 10:26AM
and haven't found `instanceid` in `CallSid` in http request to my app. i suppose it should be here too

it's raw http post body
`CallSid=CA19cf1a9dd14c4e3395f49a53638446e9&AccountSid=ACae6e420f425248d6a26948c17a9e2acf&From=alice&To=1111&CallStatus=ringing&ApiVersion=2012-04-24&Direction=inbound&CallerName=null&ForwardedFrom

[2016-08-18 14:14] gvagenas opened #1332 "Conference race condition that prevents MOH to stop when second participants joins"
Because of a race condition, there is a chance that VoiceInterpreter ConferenceInfo Object is not updated for the 2nd call that joined the conference, so even 2 participants in the conference, VI knows about 1, and the 2nd call still gets music

[2016-08-18 16:13] deruelle commented on #376
Thanks @rlimonta. I just returned from vacations. Let me check that out.

[2016-08-18 17:54] rlimonta commented on #376
@deruelle Ok Jean, feel free to any suggestion.

[2016-08-19 05:36] zeeshan-ks commented on #792
Hi @deruelle
Flow diagram we made for RBT flow.
![rbt flow](https://cloud.githubusercontent.com/assets/20221531/17799649/bb8dec22-65f5-11e6-9229-ae374fd46f93.png)

Following are the points we will be catering:
- we have to send extra parameter (flag or URI) in initial INVITE for early media
- When Called party sends back 183/180.  Restcomm will play RBT to caller
- When caller receive prack ack (2

[2016-08-19 10:30] gvagenas commented on #1266
@hamsterksu The patch for this issue add InstanceId to the SIP requests/responses.
For the HTTP request/responses to include InstanceID the following issues have been created #1327 and #1226

Thanks
George

[2016-08-19 10:42] deruelle commented on #792
hi @zeeshan-ks

Can you describe what you mean and have in mind for that ?

Only for 183 not 180

I would suggest not to use PRACK in the first iteration to make the implementation simpler and end the RBT when 200 OK to INVITE is received.

@gvagenas can provide diagrams location

[2016-08-19 10:43] hamsterksu commented on #1266
thank you @gvagenas
i have question about id format why do you use `<callid>-<instanceId>` instead of `<instanceId>-<callid>`

IMHO `<instanceId>-<callid>` looks like grouping by `instanceId`. it will be easy to filter logs and etc

[2016-08-19 10:44] gvagenas commented on #1266
@hamsterksu I haven't thought about what you suggest and sounds a good idea. I will change the format as you suggest. Can you please comment this for issue #1327 ?

[2016-08-19 10:49] hamsterksu commented on #1327
let's use the following format for new `callsid`: `<instanceId>-<callid>`

`<instanceId>-<callid>` looks like grouping by `instanceId`. it will be easy to filter logs and etc

[2016-08-22 14:25] deruelle commented on #1327
@knosach @hamsterksu Let's modify https://github.com/RestComm/load-balancer/issues/41 implementation as well then to match this

[2016-08-23 08:33] deruelle commented on #128
@gvagenas @otsakir can we already run javascript code in RVD to allow RVD apps to do some things more dynamic rather than always delegating to an ES ?

[2016-08-23 09:48] deruelle commented on #376
Thanks @rlimonta I was able to get it up and running and push some test data to it but I see that when I try to change the date, the end date doesn't seem to be taken into account or something else

![screenshot from 2016-08-23 11-42-05](https://cloud.githubusercontent.com/assets/54279/17887431/be5c073e-6926-11e6-8c98-1797bc8452ed.png)

Also I tried the GET API on http://statistics.restcomm.com/re

[2016-08-23 14:34] deruelle commented on #1021
Contributed in https://github.com/RestComm/Restcomm-Connect/pull/1316 and https://github.com/RestComm/Restcomm-Connect/pull/1319

[2016-08-23 14:34] #1021 closed

[2016-08-23 17:36] deruelle commented on #376
Also restarting the OpenShift application led to loosing all the information. It seems counters are back to 0.

[2016-08-24 12:35] deruelle commented on #376
@rlimonta

actually I just noticed the timestamp is in seconds so using http://statistics.restcomm.com/rest/counter/1471167956000/1471945556000/sip-invites made it work.

Is there a Rest API for having a concatenated aggregated number of the counters over the period ?

[2016-08-24 14:23] rlimonta commented on #376
@deruelle Jean, I made a test on my environment and is working properly.

I have one suggestion for you simmulate quickly.

01) Change your Remote Server on StatsCounterTest class, like bellow:

![restcomm_rlimonta_openshift_countertest](https://cloud.githubusercontent.com/assets/19157645/17933843/00efd6d2-69ec-11e6-8f03-25f11168ff40.png)

I recovered the indicators through the dashboard and rest

[2016-08-24 14:29] rlimonta commented on #376
@deruelle Jean, about your question:

_"Is there a Rest API for having a concatenated aggregated number of the counters over the period ?"_

The answer is no, but I can implement that. It's simple...

Best regards.

[2016-08-24 14:42] deruelle commented on #376
https://github.com/RestComm/statistics-service/issues/1 done ;)

[2016-08-24 14:48] rlimonta commented on #376
@deruelle  :)

[2016-08-24 14:53] deruelle commented on #376
@rlimonta on the dashboard, it works for the current day but if I try to see for a longer period of time the dashboard doesn't seem to display well for some reason. Did you try displaying values for counters inserted like a week before ?

[2016-08-24 15:08] rlimonta commented on #376
@deruelle This may be happening because of the default grouping in the chart is HH:mm. When you increase the period, it generates a lot of points to zero.

I will improve to support (month, day, hour, minute).

[2016-08-24 16:50] leftyb opened #1333 "Provide a display name for the "From" address."
We would like to be able to add/use some kind of "nick" tag that will be shown at the destination, instead of the email, when it is set (Potentially same with the "to" address if possible).
Documentation [here ](http://documentation.telestax.com/connect/api/email-api.html#email)

[2016-08-25 11:44] maria-farooq opened #1334 "Log collection script failure"
Log collection script is unable to collect log in scenerios when one of RC/RMS process is not running.
in `log_collect.sh` i can see a method `getPID()` which has following condition
[code]
this is sample output when script failed
[code]
- Please note it even did not collected server logs though they are available regardless of PID.
- It also did not compressed the directory.
Here is a sample of c

[2016-08-25 16:45] croufay opened #1335 "Restcomm Drop Calls during Call forwarding to any number"
When you create a simple application that forwards calls to the demo app 1234 or any other Restcomm number, the calls gets dropped. This happens when Restcomm server is behind a NAT.

When you try the same application locally, the Call is forwarded and it is bridged correct. Initial analysis of pcap shows that Restcomm is using the wrong IP in the SIP/SDP when generating the Request INVITE to the

[2016-08-25 16:57] deruelle commented on #1335
@croufay Please provide logs and wireshark for this issue + restcomm config (restcomm.conf and restcomm.xml)

[2016-08-25 17:41] deruelle commented on #376
@rlimonta also the UI seems broken under Firefox. Chrome doesn't display well as it does in your case either on Linux.

[2016-08-25 19:36] rlimonta commented on #376
@deruelle I'll check it out today.

[2016-08-26 09:58] maria-farooq commented on #1104
After successfully connecting 3 RMS together (for a conference where participants were on difference media-servers)
Here is a list of items TODO to complete this task:

- [x] Try connecting both conference endpoints directly (this is optional/experimental work and can be tried in a separate branch)
- [x] Scale the solution for N-RC|RMS nodes in HA.

## Resource Cleanup on participant-left/conferen

[2016-08-28 20:55] #1334 closed

[2016-08-29 07:54] leftyb commented on #1304
As well check with @hrosa If It is possible to add same custom header to the RTP packets in order to be able to use same filter in order to track down the related RTP packets that generated.

[2016-08-29 09:44] deruelle commented on #1277
Create a CI perf job using jmeter for HTTP and SMPP per testing including PErfCorder

[2016-08-29 13:15] #410 closed

[2016-08-29 13:15] #406 closed

[2016-08-29 13:31] deruelle opened #1336 "Don't patch Request URI for subsequent requests when the initial IP and port behind the LB is part of the route set"
When this ACK is created

`ACK sip:306986971731@10.24.134.30:5060 SIP/2.0
Call-ID: d2582784c53d5b8d5c2a546c1d6286a5@10.136.148.83
CSeq: 2 ACK
From: "alice" <sip:bfbed70a@sip.nexmo.com>;tag=34553373_1481c435_57a5b08a_d530a891
To: <sip:00306986971731@sip.nexmo.com>;tag=as30c5e916
Max-Forwards: 70
Route: <sip:10.157.119.206:5080;transport=udp;lr;node_host=10.136.148.83;node_port=5080;version=0>
Route

[2016-08-30 04:43] croufay commented on #1335
restcomm.xml, restcomm.conf. pcap and server logs
https://drive.google.com/open?id=0B_xyuFPec-DhSDVsOEl4eDVvaXc

[2016-08-30 11:47] leftyb opened #1338 "Fix LB configuration, static-port must use the public port of the LB."
Connectors example:
`` <connector name="sip-udp" protocol="SIP/2.0" scheme="sip" socket-binding="sip-udp" use-static-address="true" static-server-address="LB_publicIP" static-server-port="5060" use-load-balancer="true" load-balancer-address="LB_internalIP" load-balancer-rmi-port="2000"  load-balancer-sip-port="5080"/>``
``            <connector name="sip-tcp" protocol="SIP/2.0" scheme="sip" socket

[2016-08-30 12:56] gvagenas opened #1339 "Restomm as an IMS GW - Support to proxy out SIP messages to IMS"
Provide new feature that will allow UserAgentManager to proxy out SIP REGISTER messages and the next hop will be responsible to authenticate the user agent.
In that case Restcomm will act as a B2BUA and will route messages between the external registrar and the user agent.

If the registration is successful the Restcomm DB should be updated by using the register() method, so later Restcomm will be

[2016-08-30 14:18] ghjansen opened #1340 "RVD HTTP method in Redirect verb should be mandatory"
When a Redirect verb is configured with the URL of a target module (`controller?target=module1`) but the field `method` is not informed, the interpreter fails to process the verb and the call is hanged up.

Once the `method` field is not required and the project is saved without errors (filling it or not), that may cause unexpected results. So if this field turns into mandatory, that should avoid

[2016-08-30 15:05] croufay opened #1341 "Restcomm doesn't support TLSv1.2 and TLSv1.1"
Restcomm doesn't support TLSv1.2 and TLSv1.1 Only TLSv1 works

It is allowed here but it doesn't work during test

https://github.com/RestComm/Restcomm-Connect/blob/7fff8576e3bd1b010687565b40b4ba44cf27864a/restcomm/configuration/config-scripts/as7-config-scripts/restcomm/autoconfig.d/config-SecureSSL.sh#L49

https://github.com/RestComm/Restcomm-Connect/blob/7f35a6a0f0c1fc5bca0091c53b8e3a2ff5d6f22d

[2016-08-31 02:11] rlimonta commented on #376
@deruelle I implemented the following items:
01) Firefox Issue: Fixed
02) Dashbord Layout Improvement: Fixed
03) Issue #1: Closed.

[2016-08-31 06:38] deruelle commented on #1277
Test  Send SMS API on the HTTP side http://documentation.telestax.com/connect/api/sms-api.html#send-sms-messages

[2016-08-31 10:25] deruelle opened #1342 "Support Conference Management in a cluster"
We need to ensure that HTTP requests for a given conference SID always go the master node through LB stateless algorithms similar to https://github.com/RestComm/Restcomm-Connect/issues/1312

[2016-08-31 10:28] jaimecasero commented on #1342
Hopefully this will be accomplished through an specific HTTP header. We could do with URI parsing, but LB performance would be impacted..

[2016-08-31 11:59] #1284 closed

[2016-08-31 12:38] gvagenas commented on #1335
@croufay from the pcap file I can see that the SDP at the INVITE for the 1234 application is correct and has the public ip address of the instance.

If you check the pcap again, you will see that the problem is that Restcomm replies with 407, then the INVITE comes with Proxy-Authorization but not the proper one, and then we have 407 again, and there is a loop there. This is the problem.

You have

[2016-08-31 13:14] gvagenas commented on #1335
Also @croufay the problem is not behind NAT. I can reproduce the problem when testing locally.

[2016-08-31 14:15] gvagenas opened #1343 "Use username/password of initial caller (if available) for outbound calls to SIP URI"
By default, Restcomm will use as a Call-ID (From and Contact headers) the initial caller details. For example, if Alice calls RCML that Dials out, From and Contact header will be Alice.

Thus, when executing Dial SIP URI RCML and username/password are not defined, use the ones from the initial call, if available.

For example:
RCML application that dial sip:1234@restcomm.com
Alice calls DID for th

[2016-08-31 15:44] #1343 closed

[2016-08-31 15:45] gvagenas commented on #1335
Closed with patch provided at #1343

[2016-08-31 15:46] #1276 closed

[2016-09-01 14:58] gvagenas opened #1344 "Create script to provide the DB migration status"
The script should provide the output of the "flyway info" command

[2016-09-01 16:44] maria-farooq opened #1345 "Move DB updates for updating conference status from VI to Conference"
VoiceInterpreter is updating DB status of conference whenever it receives `ConferenceStateChanged` msg.
These calls should be in Conference Actor which is originating `ConferenceStateChanged` message.

- https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.interpreter/src/main/java/org/mobicents/servlet/restcomm/interpreter/VoiceInterpreter.java#L2539
- https://github.com/Res

[2016-09-02 02:20] abhayani commented on #586
USSD gw allows the routing rule to be configured based on string that match's as of today.

We can change this to Java Reg Exp instead and now Admin can define Regular expression for something like `*777*PIN*1*9998765*80#` and call directly the business logic that will take care of processing for above short code dialed.

[2016-09-02 14:25] deruelle commented on #376
Thanks @rlimonta !
Confirmed it works fine now !

[2016-09-03 09:26] maria-farooq opened #1346 "Add password recovery option"
In some scenarios user forgets its account password:
password recovery option can empower them to set a new password.

[2016-09-05 07:40] kkampardi commented on #1270
@deruelle , right. However, twilio seems to keep the actual account record (in CLOSED state) but delete all the related entities. I'm wondering whether this makes some sense instead of removing it altogether.

[2016-09-05 07:41] otsakir commented on #1270
@deruelle , right. However, twilio seems to keep the actual account record (in CLOSED state) but delete all the related entities. I'm wondering whether this makes some sense instead of removing it altogether.

[2016-09-05 08:01] deruelle commented on #1270
@otsakir it does make sense so that we can track previous activity on an account in case of fraud, issues, etc

[2016-09-05 09:23] otsakir commented on #128
@deruelle , there had been an old implementation of a "Script" element that supported Groovy but never reached production branch. Here are some considerations regarding 'script' feature:

* Security issues and administrative load for RAS applications.
* Performance issues probably.
* Deviation from the typical RVD design goals i.e. one should not have programming skills to use it.

There are a cou

[2016-09-05 09:42] gvagenas opened #1347 "Rules to enforce strong password for clients/accounts"

[2016-09-05 09:42] gvagenas opened #1348 "API to block or disconnect all running calls"

[2016-09-05 09:43] leftyb commented on #628
https://access.redhat.com/solutions/499663

[2016-09-05 13:00] deruelle commented on #282
We need API for throttling:

- [ ] Throttle number of allowed DID to be purchased per account (including sub accounts)
- [ ] Throttle number of Restcomm Client to be created (including sub accounts)
- [ ] Throttle inbound or outbound any calls and SMS per DID
- [ ] Throttle inbound or outbound any calls and SMS per Account
- [ ] Throttle inbound or outbound any calls and SMS per Restcomm Client

A

[2016-09-05 14:36] deruelle commented on #1347
Needed at Both API and Admin UI level. @otsakir will need your help here on having something similar to choosing a password for the first time for the account but for the Restcomm SIP Client this time

[2016-09-05 14:38] deruelle commented on #1348
Allow that per account.

[2016-09-05 14:43] deruelle opened #1349 "Allow Admin account to see all CDRs from all accounts (even from deleted accounts)"
True for Account with regards to their sub accounts as well.

Ideally we should be able to filter calls by account/sub-account in the Admin UI as well

[2016-09-05 14:52] deruelle opened #1350 "Dashboard minutes count orange line in the Voice Analytics chart is wrong"
It displays minutes while the aggregate it uses is seconds, it should be converted to minutes so divided by 60

[2016-09-05 14:54] deruelle opened #1351 "Some Calls or Messaging CDRs are not cleaned up properly"
It seems that if something wrong happen on a call, some calls are left in IN PROGRESS status at DB level.
There is 65 such calls on my cloud account. We need a procedure to clean the status and DB after a grace period of 4 hours by example

[2016-09-05 15:03] deruelle opened #1352 "Blocking Login Attempts from intruders"
- [ ] Implement Checks if X login attempts are done against an account either over HTTP or on a SIP Client  and not properly authenticated. Disable the account and send email notification to the user.
- [ ] Implement HTTP and SIP Login IP Location detection with email notification in case of doubt on login attempt happening at different location(s) than the regular one + Two Factor Authentication

[2016-09-05 15:43] deruelle opened #1353 "Allow co branding to be setup per Organization"

[2016-09-06 07:09] deruelle commented on #1
@muhammadbilal19 were you able to make progress on this issue ?

[2016-09-06 08:32] otsakir opened #1354 "Provide separate parameter for http-client timeout in restcomm.conf"
Currently, the http-client.response-timeout setting in restcomm.xml is configured out of MGCP_RESPONSE_TIMEOUT parameter of restcomm.conf. A separate parameter should be defined.

[2016-09-06 12:25] ghjansen opened #1356 "Include audio format specifications in the documentation"
Include specifications for supported audio formats, like WAV = 16bit Mono 8000 sample rate, in the documentation of RCML Play verb.

http://documentation.telestax.com/connect/rcml/play-rcml.html#play

[2016-09-06 15:27] leftyb opened #1357 "RC issue when OutBound PSTN call from registered used through SIP-phone."
Logs have been provided at email.

[2016-09-06 17:05] croufay commented on #1335
You could test this on telestax.restcomm.com

create an app that forwards a calls to 1234 the demo app

I tested the latest version and still encountering the same issue.

I have uploaded the latest pcap file and the latest server.log file from Restcomm

https://drive.google.com/drive/u/1/folders/0B_xyuFPec-DhSDVsOEl4eDVvaXc

[2016-09-07 07:24] deruelle commented on #1010
@gvagenas any chance we can review and include this one as part of 7.9.0 if it's complete now ?

[2016-09-07 07:54] otsakir opened #1358 "Add configuration setting for "external app" location"
Restcomm needs to contact the _external identity application_ that manages keycloak operations. It needs to know where this is located. A base url it will use to format requests and access its API.

[2016-09-07 10:12] otsakir commented on #1358
The setting in restcomm.xml will be named *idenity/restcomm-identity-manager*

[2016-09-07 10:17] otsakir opened #1359 "Supply test cases for sub-account / user synchronization"
When restcomm is secured my keycloak should synchronize account and user management. For example when a sub-account for an existing keycloak user is created, the user should have the respective roles assigned.

[2016-09-07 16:19] otsakir opened #1360 "Support async operation for RVD/ES"
Currently RVD blocks when making a request to an ES. That may cause trouble if the ES takes to long to respond. We should add async support for the external service to reach out to RVD when it sees fit. Then RVD will "push" RCML back to restcomm.

This will require that an asynchronous way of pushing RCML to restcomm is supported from core too.

[2016-09-08 09:21] maria-farooq opened #1361 "Connect to remote RMS in cluster on run time"
RC connects to remote RMS at bootstrap by looking in DB, instead it should do it on demand when ever a slave conference need to be connected.

[2016-09-08 09:54] deruelle commented on #1357
@leftyb am I copied on this email ? can you send them to me as well ?

[2016-09-08 10:05] otsakir opened #1362 "Structural improvements of restcomm configuration classes"
Currently, many of the restcomm configuration properties are accessed through the MainConfigurationSet class. This is a concrete implementation that is not very flexible. For testing we still rely on initializing it from restcomm.xml and we keep editing the file to simulate configuration changes.

We can hide this implementation behind Java interfaces with getters only or setters for better decoup

[2016-09-08 12:28] deruelle commented on #1323
@ghjansen can this be merged ? did you do a PR on that ?

[2016-09-08 12:28] #1336 closed

[2016-09-08 12:29] #1285 closed

[2016-09-08 12:45] ghjansen commented on #1323
@deruelle i would like to have all RMS jobs running with success first (one of them seems to have issues) so we can fix as needed and merge it all at once. I'll conclude the investigation on that and create the PR with my considerations for @gvagenas when done.

[2016-09-08 12:46] deruelle commented on #1362
tied to https://github.com/RestComm/Restcomm-Connect/issues/512

[2016-09-08 12:54] deruelle commented on #1306
@leftyb did you fix that one ?

[2016-09-08 12:54] deruelle commented on #1291
@leftyb is this one fixed now ?

[2016-09-08 13:04] deruelle commented on #1348
We need to be able to specify the granularity at account level or SIP Client level because for a multitenant environment so that other accounts are not affected if this a hack

[2016-09-08 16:35] leftyb opened #1364 "Add the line number of the code in DEBUG level logs."
Right now it shows only the classname, but not the line of the code in that class.
It is desirable that the line number as well is shown on DEBUG level.

[2016-09-08 19:20] #1081 closed

[2016-09-08 19:20] #1218 closed

[2016-09-08 19:20] #1219 closed

[2016-09-08 19:20] #1220 closed

[2016-09-08 19:20] #1311 closed

[2016-09-08 19:21] gvagenas commented on #1215
Closed by final commit 20ffc490625fdc74612c43bd8cd8651304b14c46

[2016-09-08 19:21] #1215 closed

[2016-09-08 19:21] gvagenas commented on #794
Closed by final commit 20ffc490625fdc74612c43bd8cd8651304b14c46

[2016-09-08 19:21] #794 closed

[2016-09-08 19:21] gvagenas commented on #1223
Closed by final commit 20ffc490625fdc74612c43bd8cd8651304b14c46

[2016-09-08 19:21] #1223 closed

[2016-09-08 19:22] gvagenas commented on #1221
Closed by final commit 20ffc490625fdc74612c43bd8cd8651304b14c46

[2016-09-08 19:22] #1221 closed

[2016-09-08 23:26] croufay opened #1366 "Restcomm TLS version Incompatibility with Media Server"
Restcomm supports TLSv1, TLSv1.1 and TLSv2 when accessing the Admin UI and RVD over https.

If you disabled the HTTPS connectors to only use TLSv1.2, Restcomm generates an exception, NullExceptionPointer when Downloading RCML

The code that controls  downloading RCML can be found here

https://github.com/RestComm/Restcomm-Connect/blob/5647acb9de6e0f138293c537ff0f5ff4b50059ba/restcomm/restcomm.comm

[2016-09-09 06:54] deruelle commented on #1366
@croufay can you make a pull request for the Restcomm fix and create a new issue at RMS to allow for the same thing ?

[2016-09-09 08:48] otsakir commented on #1362
@gvagenas , any thoughts on the 'update/mutability' feature of the configuration classes? Anything that can help the discussion, use cases, design considerations..

[2016-09-09 09:46] otsakir opened #1367 "Sync sub-account create/remove/link with keycloak users"
When restcomm works in keycloak auth mode some account operations need to be synced to the respective keycloak users.

These rules that can help define the behavior.

Account creation
- If an account is created for john@company.com the related keycloak user should be assigned the _*-access_ role that will grant him access to the organization.
- If orestis@company.com doesn't already exist when the

[2016-09-09 10:07] #1338 closed

[2016-09-09 13:37] #1357 closed

[2016-09-09 15:27] otsakir opened #1369 "Support asyn operation when fetching RCML"
At some point restcomm should support retrieving RCML in an asynchronous way. The issue is linked to RVD issue https://github.com/RestComm/Restcomm-Connect/issues/1360.

[2016-09-09 15:40] gvagenas opened #1370 "Administrator which is parent account for any sub-account should be able to access resources of child accounts"

[2016-09-09 16:01] jjsenay commented on #1370
Should the last field be Transcribe Back instead of Tanscribe Back

[2016-09-12 07:35] otsakir opened #1371 "Trying to remove an account that does not exist throws NPE"
When using REST api to remove an account that does not exist, a 500 status is returned along with an NPE stack trace.

We should return a 404 instead.

[2016-09-12 09:02] maria-farooq opened #1372 "Save encrypted/encoded client security code"
Save client security code in encrypted/encoded form

[2016-09-12 09:05] deruelle commented on #1372
Check also for accounts password. We shouldn't be using MD5 either but at least SHA 512 or better something encrypted.
SHA-512 isn't designed to be hard to brute-force. Better hashing algorithms like BCrypt, PBKDF2 or SCrypt should be used

[2016-09-12 10:01] otsakir commented on #1349
So, are we essentially talking about two parameters?

**1. Nesting flag**

An option on whether to include resources (Call records) from child sub-account as well. For example 'recurse=true' or 'subAccount=true'. Any ideas on naming ?

Also note:

- We need a clean contract here as to which depth this will work for. Supporting more than one level will probably introduce much complexity in the DB.

[2016-09-12 10:07] deruelle commented on #1349
@otsakir good thoughts on performance concerns. Actually I'm thinking if we support Impersonnation of any other accounts by Admin account as described in https://github.com/RestComm/Restcomm-Connect/issues/715. This issue here may not be needed.

[2016-09-12 12:44] otsakir opened #1373 "Client removal fails for non-admin roles"
Removing a Client fails if it is not done by an administrator user. This does not have to do with explicit role-based access control but with a typo when invoking the secure() method.

[2016-09-12 12:58] otsakir opened #1374 "Client removal return 200 even if client already removed"
A 404 should be removed instead.

[2016-09-12 13:46] deruelle commented on #892
@hamsterksu is this still happening ?

[2016-09-12 14:01] deruelle commented on #1325
@gvagenas can you remind me the size of our logo right now ?

[2016-09-12 14:27] #1344 closed

[2016-09-12 14:38] #1374 closed

[2016-09-12 14:41] #1373 closed

[2016-09-12 14:41] #1354 closed

[2016-09-12 15:44] croufay commented on #1335
I have updated the folder with latest pcap and server.log

https://drive.google.com/drive/u/1/folders/0B_xyuFPec-DhSDVsOEl4eDVvaXc

[2016-09-13 08:59] gvagenas commented on #1174
@deruelle Currently when CallManager is asked to prepare an outbound call to a WebRTC client, first checks if Restcomm is behind LB,

- If Restcomm is behind LB then proceed to add the client's location to be dialed
- If Restcomm is not behind LB, then CallManager checks if the instanceId of the registration is the same as the current instance, and if not it will discard this location.

I believe

[2016-09-13 09:06] deruelle commented on #1174
that sounds correct to me

[2016-09-13 09:20] gvagenas commented on #1174
Moved to testing so we confirm the functionality at the hastaging

[2016-09-13 10:33] otsakir commented on #1349
@deruelle , but there will still be usability issues. An administrator will have to switch between impersonated account and won't easily have an overview of things.

I gave it some more thought and also discussed with @gvagenas. It seems that we could get away with the difficulties introduced by the hierarchies and the mess in the queries if we split the process in two steps. First we find the sub

[2016-09-13 10:50] gvagenas commented on #1349
@otsakir to me **subAccount=true** would mean to fetch all CDR of the account and sub-accounts no matter what is the status of the sub-accounts.

[2016-09-13 11:19] atsakiridis commented on #691
Still getting this issue. Here are latest logs:

https://gist.github.com/atsakiridis/4af472024c20803fc77012955ab3da0c

Please follow Call-Id: 849495f8abcc80b450571d615983cb19

200 OK is returned to restcomm from the recepient, but restcomm cannot forward back to sender

[2016-09-13 13:07] otsakir commented on #1349
@deruelle , but there will still be usability issues. An administrator will have to switch between impersonated account and won't easily have an overview of things.

I gave it some more thought and also discussed with @gvagenas. It seems that we could get away with the difficulties introduced by the hierarchies and the mess in the queries if we split the process in two steps. First we find the sub

[2016-09-13 18:35] atsakiridis opened #1379 "Webrtc calls from non WS clients aren't routed to PSTN"
For example Android Olympus that uses TCP or TLS can't call a PSTN number, and gets `SIP/2.0 488 Not Acceptable here` from the gateway. The same would occur from iOS olympus that uses the same transport protocols.

A more robust solution could be for RC to tell if this is webrtc client or not by using the SDP. The problem is that I don' think there's a field telling if the SDP is webrtc or not, so

[2016-09-13 18:46] atsakiridis commented on #1379
Per @hrosa comments, a more robust solution is to check if there are m-lines with either RTP/SAVP, RTP/SAVPF profiles

[2016-09-14 10:24] #1249 closed

[2016-09-14 10:33] #1261 closed

[2016-09-14 10:39] gvagenas commented on #1329
Closed because #1266

[2016-09-14 10:39] #1329 closed

[2016-09-14 10:56] bourgois commented on #1261
Thanks @hamsterksu :)

[2016-09-14 12:25] gvagenas commented on #691
@atsakiridis from the logs I can see that after client "despina" sends 200 OK, the container invalidates the sip session and thus the NPE.

[code]

What I will do is the following:
1. After the message from client "antonis" is proxied to client "despina", Restcomm will return 202 Accepted to client "antonis"
2. B2BUAHelper will check the sip session of the response from client "despina" and only i

[2016-09-14 12:31] deruelle commented on #691
@gvagenas I don't think we should do 1. because if the Message can't be delivered, the user will think it was delivered successfully.
@gvagenas can you protect the getState with isValid too first ? What are we doing at RC level with the session that just got a 200 OK ( it makes sense to invalidate given this is an out of dialog request so it should be terminated fast albeit it may be too fast here

[2016-09-14 12:37] atsakiridis commented on #691
@gvagenas @deruelle: So the actual issue is SipServlets invalidating the session very soon, right? Cause from the clients' perspective I can't see anything wrong; the recipient seems to send back the 200 OK answer right away.

Let me try to collect those traces locally

[2016-09-14 13:43] gvagenas commented on #691
@deruelle since this is an out of dialog request isn't ok to response with 202 which means Restcomm accepted the message?

Here is the link to the code when RC receives the 200 OK - https://github.com/RestComm/Restcomm-Connect/blob/d1a69baa904b2053a253c043b66facb54a173059/restcomm/restcomm.telephony.api/src/main/java/org/mobicents/servlet/restcomm/telephony/util/B2BUAHelper.java#L480-L480 - and th

[2016-09-14 14:02] deruelle commented on #691
@gvagenas how would you communicate to the client that RC couldn't deliver the message if the delivery fails. I think we will need to review that, the solution makes sense long term where on 202, the Client could show a `sent` indicator and maybe once delivered send back another message to the initial client to say the message was delivered somehow to display a `delivered` indicator.

@gvagenas I

[2016-09-14 14:39] gvagenas commented on #691
@deruelle agree on your point for 202.

About the next line, th method checks for sip session validity, check here: https://github.com/RestComm/Restcomm-Connect/blob/d1a69baa904b2053a253c043b66facb54a173059/restcomm/restcomm.telephony.api/src/main/java/org/mobicents/servlet/restcomm/telephony/util/B2BUAHelper.java#L420-L420

[2016-09-14 15:18] gvagenas commented on #1277
Will run local test and check why the resource endpoints objects are left in memory after GC

[2016-09-14 15:20] deruelle commented on #691
yes but if not valid it will return a null session which will make getAttribute of https://github.com/RestComm/Restcomm-Connect/blob/d1a69baa904b2053a253c043b66facb54a173059/restcomm/restcomm.telephony.api/src/main/java/org/mobicents/servlet/restcomm/telephony/util/B2BUAHelper.java#L484 throw an NPE.

[2016-09-14 15:25] gvagenas opened #1380 "MonitoringService doesn't provide the AvarageCallDuration metrics"

[2016-09-14 15:36] otsakir commented on #1362
Closing the issue after discussing with @gvagenas. Further brainstorming will be on a separate issue dedicated on configuration mutability.

[2016-09-14 15:36] #1362 closed

[2016-09-14 15:40] gvagenas commented on #691
@deruelle I see what you mean, will check this also

[2016-09-14 23:41] croufay commented on #1341
This issue is linked to downloading RCML and has been fixed
https://github.com/RestComm/Restcomm-Connect/issues/1366

[2016-09-14 23:41] #1341 closed

[2016-09-15 06:50] gvagenas commented on #691
@deruelle @atsakiridis I was thinking that in case the response session gets invalidated, we could send an error response to the first client, what do you think? what error would be more appropriate to this case?

[2016-09-15 06:56] deruelle commented on #691
@gvagenas instead of storing in sipsession why don't we store in sipapplicationsession ? This one won't get invalidated as long as there is one session alive

[2016-09-15 06:58] gvagenas commented on #691
@deruelle B2BUAHelper was designed for call sessions so sip session makes sense. Maybe we can have a B2BUAHelper for the SIP MESSAGE requests only and use the sip application session there.

[2016-09-15 07:08] deruelle commented on #691
@gvagenas actually you can ask the container not to watch the session with sipsession.setInvalidateWhenReady(false) so it doesn't invalidate it, see 6.2.4.1.2 Invalidate When Ready Mechanism in the spec. but don't forget to invalidate both sessions once the 200 OK to original session has been sent otherwise we will have leaks

[2016-09-15 08:19] otsakir commented on #628
Guys, my 2 cents on the http -> https redirection matter.

Judging by the nature of the request and the service, it seems there are two cases:

1. When requesting static web resources like index.html of UIs it seems good to support redirection. Further requests made from the single page application and calls to REST apis will already switch to https since the context of index.html will be used.

2

[2016-09-15 12:59] #1380 closed

[2016-09-15 15:17] croufay commented on #1321
fixed and doc updated

[2016-09-15 15:17] #1321 closed

[2016-09-15 15:21] leftyb commented on #1321
@croufay Just one comment, using SECURESSL=SELF, you dont need to manually create a self-signed certificate. RC scripts are generating the certificate as well.

[2016-09-15 15:23] croufay commented on #821
https://github.com/RestComm/Restcomm-Connect/commit/9b455b79f11c88d1668ceec30b47eb5ae4b2e07f

[2016-09-15 15:23] #821 closed

[2016-09-15 15:24] croufay commented on #452
fixed

[2016-09-15 15:24] #452 closed

[2016-09-16 06:42] otsakir opened #1382 "Paging links are missing from Calls log in AdminUI"
Looks like the links to  "Next", "Previous", "First", "Last: etc. pages are missing in AdminUI calls log view. Othere views are probably affected too.

The following warning is displayed in the logs.

[code]
I also found this:
https://github.com/jameskleeh/angular-confirm/issues/24

Finally i'm thinking that we recently upgraded angular-ui. That may be the reason.

[2016-09-16 06:54] otsakir commented on #1349
Closing as fixed

[2016-09-16 06:54] #1349 closed

[2016-09-16 08:08] otsakir commented on #1382
@ammendonca , i went forward and resolved this to help inlude this to the 7.9.0 release today.

It was due to the ui-bootstrap upgrade that affected naming conventions and small changes in the pagination directive interface.

[2016-09-16 08:10] #1382 closed

[2016-09-16 12:31] gvagenas commented on #1351
After testing with Vi refactoring #794 patch the problem is now cleared.

[2016-09-16 12:32] gvagenas commented on #1332
Tested by @leftyb and @maria-farooq and works ok

[2016-09-16 12:32] #1332 closed

[2016-09-16 12:34] #1306 closed

[2016-09-16 12:35] #628 closed

[2016-09-16 12:36] gvagenas commented on #949
after properly guard code for the race condition the issue has been tested and cannot be reproduced

[2016-09-16 12:36] #949 closed

[2016-09-16 12:37] gvagenas commented on #1128
after properly guard code for the race condition the issue has been tested and cannot be reproduced

[2016-09-16 12:37] #1128 closed

[2016-09-16 13:18] otsakir commented on #1350
also, the duration unit returned from the API is wrong. It should display *seconds* instead of *minutes*.
[code]

[2016-09-16 13:38] #1350 closed

[2016-09-16 15:42] gvagenas opened #1385 "When a registration times out and Restcomm removes the registration, check for live calls and terminate them"

[2016-09-17 12:16] deruelle opened #1386 "Allow to generate a new Auth token"
It's currently impossible through the Admin UI to generate a new auth token if there was a security breach.

[2016-09-17 12:18] deruelle commented on #1386
This is true for the REST API as well

[2016-09-19 05:13] otsakir commented on #1386
@deruelle ,you mean besides updating an account with a new password ?
https://github.com/RestComm/RestComm-Connect/blob/d0204408c22c8376fd464d67cfb402bd447de2a9/restcomm/restcomm.http/src/main/java/org/mobicents/servlet/restcomm/http/AccountsEndpoint.java#L306-L306

[2016-09-19 07:23] deruelle commented on #1386
No I mean updating the "Auth Token" that allows you to perform REST API calls to your account.

[2016-09-19 08:17] otsakir commented on #1386
@deruelle , i don't understand. There is currently only one credential field in the Account entity. That's AuthToken. The actual value of AuthToken is rendered from the password when the user creates/updates an account. In that sense, AuthToken is updatable since password is.

[2016-09-19 08:25] maria-farooq opened #1387 "FAILED calls are shown in LIVECall Details"
during cloud team conference call, i noticed that in monitoring matrix there is one FAILED status call is showing:
[code]

[2016-09-19 08:56] otsakir commented on #1347
@deruelle, i suggest the following:

1. Password sanitizing at AdminUI level when a Client is created (not including the default Client which is not created directly from AdminUI).
2. Password **sanitizing** at AdminUI level when a Client is updated.
3. Password sanitizing at Endpoint level when an Account is created/updated. The same sanitization rules as the ones currently in AdminUI will be app

[2016-09-19 09:08] otsakir commented on #1347
After discussing with @gvagenas , i'll proceed with the AdminUI part of the patch.

[2016-09-19 09:45] deruelle commented on #1386
mmm actually I think Auth Token should be independent from account password and also we should allow to create more than one to avoid downtime in case you need to change it:

See https://support.twilio.com/hc/en-us/articles/223136027-Auth-Tokens-and-how-to-change-them
similar is possible with nexmo as well

[2016-09-19 13:25] otsakir opened #1388 "Number registration for provided numbers does not display country label"
However, the country flag is displayed correctly.

[2016-09-19 13:27] atsakiridis commented on #1379
Here's the full SDP. Check the m-lines for the profiles described above:

v=0
o=- 655836341935372758 2 IN IP4 24.217.142.20
s=Restcomm B2BUA
t=0 0
a=group:BUNDLE audio video
a=msid-semantic:WMS ARDAMS
m=audio 9 UDP/TLS/**RTP/SAVPF** 111 103 9 102 0 8 106 105 13 126
c=IN IP4 24.217.142.20
a=rtcp:9 IN IP4 0.0.0.0
a=candidate:704553097 1 udp 2122260223 192.168.1.3 60475 typ host generation 0 ufrag PF

[2016-09-19 13:58] otsakir opened #1389 "SubAccount view #/subaccounts should automatically refresh when a new sub-account is added."
Newly added sub-account view does not work in-sync with the account creation operation in AdminUI hosted in the account dropdown.

[2016-09-19 14:02] otsakir opened #1390 "Eliminate warnings displayed after angular-ui upgrade"
A number of deprecation warnings started to display in AdminUI developer console after the angular-ui upgrade was performed. The actual operations seem not to be affected yet.

We should update references to the deprecated elements throughout AdminUI before the deprecated features start to cause real trouble.

[2016-09-19 14:35] #1379 closed

[2016-09-19 15:08] leftyb opened #1391 "Add configuration option for security protocols on https."
Instead of hard coded :
https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/configuration/config-scripts/as7-config-scripts/restcomm/autoconfig.d/config-SecureSSL.sh#L149

[2016-09-19 15:25] croufay opened #1392 "Add some Error logging to Admin UI notification for quick troubleshooting"
At the moment, most error messages are logged into the console server.log.  This will be handy if we could log some basic logger.error to notification in the Admin UI.

This means that those working on telestax.restcomm.com and other instances who do not have SSH access could also see basic errors.

For example, we could easily add erorrs like

Error downloading RCML,etc..

I have created a Global

[2016-09-20 07:48] deruelle commented on #1392
Thanks @croufay. Is this something similar to https://www.twilio.com/docs/api/errors#debugging-webhooks ?
@gvagenas do we have a list of errors similar to https://www.twilio.com/docs/api/errors/reference ?

[2016-09-20 09:56] gvagenas opened #1393 "Client calling to PSTN, ACK R-URI should be the Contact header of 200 OK for Nexmo"

[2016-09-20 10:03] gvagenas commented on #1393
Link to pcap with the problem https://app.box.com/s/q0s3qbnjfuk17s7cmt05pc1uiqehfmh5

[2016-09-20 14:21] deruelle commented on #1304
linked to https://github.com/RestComm/Restcomm-Connect/issues/940 as well

[2016-09-20 16:21] #733 closed

[2016-09-21 18:49] gvagenas opened #1394 "If no response to INVITE, Restcomm doesn't CANCEL the call"

[2016-09-22 04:47] otsakir opened #1395 "Date filtering issues in AdminUI logs"
The list view in messages, recordings and notifications displays no results if Date filter is used.

[2016-09-22 05:11] otsakir opened #1396 "Paging issues in AdminUI logs views"
Message, notifications, recordings and transcriptions views either do not page at all or rely no total number of records (not filtered).

[2016-09-22 08:02] #1388 closed

[2016-09-22 08:02] #1390 closed

[2016-09-22 08:02] #1396 closed

[2016-09-22 08:07] otsakir commented on #1347
Server side work pending. Re-opening issue

[2016-09-22 08:22] otsakir opened #1397 "Restrict account hierarchy to three levels."
Account hierarchy should not exceed three levels including the single top-level account. In order to adapt restcomm to this requirement the following needs to be done:
- Account creation endpoint should not allow third level accounts create children. A proper http status code of information message should also be returned to clients.
- Access control rules should take into account a three-level hi

[2016-09-22 11:08] gvagenas opened #1398 "Accounts API support for password reset by using email address"

[2016-09-22 15:00] #1394 closed

[2016-09-22 15:00] #1398 closed

[2016-09-22 17:46] FerUy commented on #637
Previous commit recreated all files and follows the guidelines of PR #1013 (including fixes after initial peer reviewing suggestions by @ghjansen and @jaimecasero), which became a little outdated (a mariadb update script is not necessary anymore and needed to add the needed adjustment to new DaoManagerMock class). As stated in the commit, a new PR on this new branch will be done once wiring with G

[2016-09-23 08:15] leftyb opened #1399 "Fix ACAPELA configuration for RC configuration scripts."
start_restcomm.sh startup script should modify automatically restcomm.xml file  un-comment <speech-synthesizer> for "AcapelaSpeechSynthesizer" and comment default "VoiceRSSSpeechSynthesizer".

[2016-09-23 08:16] deruelle commented on #1399
That should be the same for other TTS providers we support.

[2016-09-23 09:07] otsakir commented on #1270
Team, i've done some reasearch regarding account removal and things we need to consider before proceeding. Note, my knowledge on restcomm internals is not complete. Please have a look and provide feedback.

The following entities are connected to an Account (i.e. have an accountSid as a foreign key). Some of these entities will be removed and some should linger. I've tried to visualize their remov

[2016-09-23 09:38] gvagenas commented on #1270
@otsakir All call detail records should be kept to my opinion, CDRs and ConferenceDetailRecords and SmsMessages should be kept

IncomingPhoneNumbers should be removed and released from the provider, e.g. Nexmo.

Clients can be removed also, even if there is a ongoing call since the account needs to be removed then the clients are not valid anymore.

For Application and RVD projects, I believe we s

[2016-09-23 10:12] maria-farooq commented on #1270
@otsakir i agree with @gvagenas 's answer to keep the records (same goes for conferenceDetailRecord)
for ConferenceDetailRecordFilter: this entity is used to create various `where` clause queries to select data from ConferenceDetailRecord.
So even if account is deleted, we will be ok.
can you please explain last part of your last question. in context of (ConferenceDetailRecordFilter)

[2016-09-23 11:15] otsakir commented on #1270
Thanks for the feedback.

@maria-farooq,  you have covered the question.

@gvagenas, ok about Applications and RVD. We can move on with solution 1 and either handle this with either with periodic checks or on RVD-UI level when the discrepancies are detected and are about to be shown.

Note my disagreement on this however. I believe it saves some complexity on the core restcomm side but introduces

[2016-09-23 11:42] otsakir commented on #1386
@deruelle, i totally agree with having two types of credentials. A password and an AuthToken. We use the password to login. We use the AuthToken to access the APIs.

Note that:

1. Twilio asks for the **password** when requesting a new AuthToken.
2. Twilio only allows changing the FriendlyName and Status when updating an account. It does not allow changing the AuthToken/password.

I made some thou

[2016-09-23 12:09] otsakir commented on #1347
Here is the specification of the password strength algorithm and a version of the algorithm itself in JS:

https://github.com/subarroca/ng-password-strength#formula
https://github.com/subarroca/ng-password-strength/blob/master/app/src/services/password-strength-formula.factory.js#L25

[2016-09-23 12:37] otsakir commented on #1372
@deruelle , @maria-farooq , agreed for strong hashing. We could also introduce some sort of salting (include a client fixed property in the the hash generation) so that it's not easy to reach any conclusions by comparing two clients with the same (hashed) password.

Also, i'm wondering whether it makes sense to return the client password when retrieving the Client and it seems to me it doesn't. If

[2016-09-23 14:00] atsakiridis opened #1400 "Possible issue with Restcomm forwarding a call to wrong port"
We were testing with @leftyb the following scenario:

1. Lefty registers from Android Olympus (with TLS):
2. I call him from Android Olympus and the call stops on Trying

Analysis:
1. At [12:09:00,513](https://gist.github.com/atsakiridis/4505b3ae143e085f66932424a4a9422e#file-gistfile1-txt-L10) lefty registers
2. At [12:09:06,267](https://gist.github.com/atsakiridis/4505b3ae143e085f66932424a4a9422e

[2016-09-26 08:21] gvagenas opened #1401 "Check how to replace Akka ask pattern with an asynchronous way to get responses"

[2016-09-26 08:26] atsakiridis opened #1402 "Update asciidoc documentation for Android SDK Quickstart"

[2016-09-26 08:38] deruelle commented on #418
https://www.twilio.com/user/account/monitor/getting-started

[2016-09-26 09:09] maria-farooq opened #1403 "add indexes in restcomm db, where needed"
@gvagenas
There are no indexes in restcomm DB so far
During a cloud team meeting we discussed that we can analyse most frequently used queries and have indexes on columns where needed.

[2016-09-26 09:11] gvagenas commented on #1403
Thanks @maria-farooq indexes will help indeed

[2016-09-26 09:22] gvagenas opened #1404 "LiveCallModification request disconnects initial call"

[2016-09-26 09:49] gvagenas opened #1405 "Accounts JSON endpoint doesn't support all operations"
The Accounts XML endpoint contains the missing JSON operations

[2016-09-26 10:17] deruelle opened #1407 "Trying to update a password and provide a Status gives a 500"
`curl -X POST https://cloud.restcomm.com/restcomm/2012-04-24/Accounts/jean.deruelle%40telestax.com -d "Password=test" -d "Status=UNINITIALIZED"`

gives

`java.lang.IllegalArgumentException: UNINITIALIZED is not a valid account status.
	org.mobicents.servlet.restcomm.entities.Account$Status.getValueOf(Account.java:158)
	org.mobicents.servlet.restcomm.http.AccountsEndpoint.update(AccountsEndpoint.ja

[2016-09-26 10:20] deruelle commented on #1407
Made it work with lower case "uninitialized" but we shouldn't bomb with stack trace

[2016-09-26 10:58] deruelle commented on #1346
We now have a password recovery option for cloud at https://accounts.restcomm.com/resetPassword.jsp.

@otsakir It would be good if we could add a Forgot Password ? link to AdminUI and make it configurable via web.xml initparameter and a restcomm.conf or advanced.conf startup script option so cloud users can reset their password. If not provided the Forgot Password ? will not appear.

[2016-09-26 11:09] deruelle commented on #1372
@otsakir

1. No the hashed value for the password shouldn't give access directly to the platform.

2. We need to experiment with salting and various hash generation mechanisms, especially we need to test if this won't break the connection with restcomm SDKs which may be using MD5 hashing as per SIP Spec RFC3261 recommendations. So if we use something different than MD5 we need to investigate the i

[2016-09-26 11:09] deruelle commented on #1347
Thanks @otsakir

[2016-09-26 11:17] deruelle commented on #1386
@otsakir your thoughts on refactoring seems correct to me.

resetting the actual password is currently done through the Rest API using the AuthToken.

I think they should be allowed to changed them indeed in case a hacker tamper with the sub accounts. Same thing for the Super Admin account using their own credentials by specifying the Account Sid of the account to change the AuthToken or password.

[2016-09-26 11:24] deruelle commented on #1270
@gvagenas @otsakir on Applications and RVD, @otsakir what you are proposing is to be able to configure callback URLs for when some actions are performed on Restcomm Core itself ?
By example, if an application is removed then a HTTP POST is done to a callback URL (in this case RVD) so the external application (RVD) depending on that can take proper action ?

If that's the approach envisioned, we sh

[2016-09-26 11:37] leftyb opened #1408 "Add PRESENCE filter to Congestion control."
Add to the Congestion Control mechanism a filter to drop those messages as we know they are not supported.

[2016-09-26 13:01] #1402 closed

[2016-09-26 13:21] otsakir commented on #1270
@deruelle, right, that's my suggestion. It seems cleaner overall to me and is also a common notification pattern already used by restcomm.

[2016-09-26 14:27] #1404 closed

[2016-09-26 14:27] #1405 closed

[2016-09-26 14:27] #1407 closed

[2016-09-26 15:21] deruelle commented on #1270
@otsakir I think those HTTP calls should be asynchronous to avoid having the API (or Admin UI) hanging. One question though is if the external application is not available and the HTTP is timing out, how would the external application handles that when recovering ?

[2016-09-26 15:41] gvagenas opened #1409 "Audit log to a DB table for important management tasks, such as Account changes"

[2016-09-27 07:23] otsakir commented on #1270
@deruelle, valid point about

Regarding AdminUI i don't think there will be a problem as the whole thing works in an asynchronous way by default. So, When pressing 'Delete account' the request is sent and a spinning icon can be displayed on the button. The user does not have to wait until this completes but can continue using the application. Upon completion a 'success' notification appears. The s

[2016-09-27 07:53] deruelle commented on #1270
Shall we assume an async call as well for those notifications meaning it's only a notification and not part of the whole deletion system so the REST API doesn't depend on the answer to the notification from the external application to ensure consistency. It basically just notify async and we avoid that way requests that takes too long. Especially if we need to have a fallback mechanism anyway on t

[2016-09-27 07:58] otsakir commented on #1270
Yes, definitely. It's best-effort.

[2016-09-27 14:26] otsakir opened #1411 "Profile ctrl need to be rewriten in AdminUI"
ProfileCtrl in AdminUI has become overly complex and patchy.  It takes quite an effort to maintain and tweak. It should be refactored or rewritten at some point.

[2016-09-27 14:41] gvagenas opened #1412 "MonitorService to monitor B2BUA calls"
For example registered client dials out to PSTN using proxy

[2016-09-27 14:42] gvagenas opened #1413 "Monitor traffic throttling properties file and load it dynamically"

[2016-09-27 15:14] otsakir commented on #1270
@gvagenas  @deruelle

I'm facing the following dilemma regarding what means "removing an account". Current  implementation removes the account record (and children) altogether. It does not put it in CLOSED state.

If we switch to *leaving the account record be but setting the state to 'CLOSED'* what happens with future records that have the same email address? And also, is this a realistic case we

[2016-09-27 16:08] leftyb opened #1414 "Use OPTIONS to detect NEXMO failure."
With OPTIONS method we can monitor the initial NEXMO endpoint (DC).
if OPTIONS stat to fail you can send traffic to another DC accordingly

 * use as first one the closest to you  then failover using the others DCs

Available DCs:
173.193.199.24 (WDC)
174.37.245.34  (WDC)
5.10.112.121 (LON)
5.10.112.122 (LON)
119.81.44.6 (SNG)
119.81.44.7 (SNG)

https://docs.nexmo.com/voice/configuring-sip

[2016-09-27 17:12] croufay commented on #1392
@deruelle This is about error logging using notification and referencing the api error list https://www.twilio.com/docs/api/errors/reference
At the moment, we do not have a list like the one above. I started a list a list a while back but I guess that got lost when we moved the docs. I could create a limited list similar to the twilio list. We will add more as we move on.

[2016-09-27 17:18] deruelle commented on #1392
@croufay yes please.

[2016-09-27 19:06] deruelle commented on #1270
@gvagenas @otsakir I'm not sure I understand why  #1295 is complicating things. Shouldn't it simplify things as the whole goal is to make the AccountSid independent of the email address. If #1295 is fixed, then if someone opens a new account with same email address they will get a new AccountSid that won't be tied to the email address. if a lookup needs then to be done on the email address, only t

[2016-09-28 06:39] otsakir commented on #1270
@deruelle, you're right. I agree. what i meant by

is that we need to first take care of #1295 if we want to support "CLOSing" accounts instead of removing them. I'll post further comments regarding email-address uniqueness  there. I remember there were some shortcomings after a discussion with @gvagenas.

[2016-09-28 06:49] otsakir commented on #1295
@gvagenas, i think that email->accountSid mapping was established for a reason having to do mostly with data and default values. There were some things pointed out in an older discussion we had that complicated things, but i don't really remember.

As a quick guess, do you see any  blockers or major refactoring in it?

[2016-09-28 07:39] gvagenas commented on #1295
@otsakir @deruelle The reason that accountSid is the md5 hash of the email is that we use the email address as the primary account identifier and AdminUI uses this convention to login. For example when you login with email address , AdminUI calculates the md5 hash and sends request to Restcomm.

How do you see authentication after this? Should AdminUI send plain text email address and Restcomm to

[2016-09-28 07:41] deruelle commented on #1295
@gvagenas yes I think that would be better.

[2016-09-28 07:52] gvagenas commented on #1270
@otsakir @deruelle I provided my comments to #1295 and there is a reason we have accountSid generated by email address.

To my opinion we should have accounts to CLOSED state and check to re-enable if needed later

[2016-09-28 08:13] otsakir commented on #1295
@gvagenas , AdminUI already sends email address in plaintext form for authentication. IMO, this consists no security issue. An eavesdropper can tell  who signs in using this information but if it comes to that, there are more important assets that are at stake.

I think that the idea is to be able to authenticate using an email address (as username) and that an email address maps somehow to a sing

[2016-09-28 08:51] deruelle commented on #1069
Done through an external service for now but can be done through the REST API "Change default account password(AuthToken)" Section of http://documentation.telestax.com/connect/api/account-api.html#account and done as part of https://github.com/RestComm/Restcomm-Connect/issues/1398

[2016-09-28 08:51] #1069 closed

[2016-09-28 13:21] gvagenas commented on #1270
@otsakir @deruelle As we discussed on the phone with Orestis, my opinion is that the most flexible way to handle this is the following:
1. Delete an account default action should be to move the account to CLOSED state, and also release some of the resources, for example DIDs, and keep others, for example CDRs. Also we should provide an extra parameter to completely remove the account from the DB a

[2016-09-28 13:28] deruelle commented on #1270
@gvagenas @otsakir That makes sense.

One caveat though is that removing completely an account from the DB may be problematic. We may need to forbid that for legal and security reasons, some countries will require that all activity is tracked for security reasons. Otherwise one could open an account, spam, delete the account forever without being tracked. Same thing for fraud.

We could potentiall

[2016-09-28 14:09] deruelle commented on #1408
Done on Telscale only

[2016-09-28 14:09] #1408 closed

[2016-09-28 14:42] otsakir commented on #1270
@deruelle , @gvagenas , I believe both of these stand:

a. In cloud environments email addresses are unique and through time owned by the same physical entity. It seems appropriate to allow closing and re-opening accounts under conditions. Facebook keeps account for sure and google also i suppose. The account is an asset that once created stays for a long time.
b. There can be cases when an accoun

[2016-09-28 16:16] deruelle commented on #1270
@otsakir @gvagenas as discussed on gitter today.

Let's allow that only to be done via a script externally as if super admin account gets hacked, it could remove and wipe all the accounts which is a too big security risk.

Yes under a filter. If closed account are enabled then we display them if not we don't, or we display all by default and display in the list if this is for a closed account or n

[2016-09-28 17:42] ghjansen commented on #1323
Closed via PR #1416.

[2016-09-28 17:42] #1323 closed

[2016-09-29 06:35] otsakir opened #1417 "AdminUI account updates (and password reset) fails"
AdminUI still uses the old link to update an account:

`/restcomm/2012-04-24/Accounts/[accountSID].json`

while according to #1405 it should use:

`/restcomm/2012-04-24/Accounts.json/[accountSID]`

[2016-09-29 07:00] otsakir opened #1418 "Build testsuite for AdminUI"
A client-side testsuite for AdminUI should be built. As suggested by @deruelle , we could use selenium framework.

Note, it's still under discussion whether this testsuite would mock REST api for all tests or if there are integration tests where restcomm REST api should be present.

[2016-09-29 08:24] gvagenas commented on #898
Actually the tech debt exists in other endpoints also and we should have a uniform handle of json/xml accross the whole API

[2016-09-29 08:43] otsakir commented on #1417
I fixed account update URL in accordance to #1405. But it seems there is another issue too. Although the password reset works the account stays in 'uninitialized' state. Digging further...

[2016-09-29 09:00] deruelle opened #1419 "Log Level Cleanup"
A number of logs should not be at ERROR level, see below the ones that should be changed:

`2016-09-29 02:59:48.742 02:59:48,462 ERROR [org.mobicents.servlet.restcomm.interpreter.VoiceInterpreter] (RestComm-akka.actor.default-dispatcher-29519) Timeout waiting for outbound call info:
2016-09-29 02:59:48.742 akka.pattern.AskTimeoutException: Recipient[Actor[akka://RestComm/user/$ft]] had already bee

[2016-09-29 09:01] deruelle opened #1420 "UserManager fails to cleanup a record for a given client"
[org.mobicents.servlet.restcomm.telephony.ua.UserAgentManager] (RestComm-akka.actor.default-dispatcher-1120) There was an exception trying to ping client: sip:0048602206060@81.219.21.50:39711;transport=tls , will remove registration. Exception: java.net.SocketException: Network is unreachable

so for sip:0048602206060@81.219.21.50:39711;transport=tls is displayed almost every minute for the past 3

[2016-09-29 09:20] #1417 closed

[2016-09-29 14:25] deruelle commented on #282
We also need to be able to restrict Account capabilities:

- [ ] DID purchase

[2016-09-29 14:27] deruelle commented on #1347
@otsakir how much work is left on the server side work ?

[2016-09-29 14:33] #1351 closed

[2016-09-29 14:55] deruelle commented on #1327
Can this one be closed ?

[2016-09-29 14:57] deruelle commented on #1312
@gvagenas @maria-farooq given the work we did on https://github.com/RestComm/Restcomm-Connect/issues/1266 for Live Call Modifications in a cluster. Is the ConferenceSid taking the instance-id as well (of the master node for Conference in a Cluster) ?

[2016-09-29 16:11] maria-farooq commented on #1345
merged inside #1104

[2016-09-29 16:11] #1345 closed

[2016-09-29 16:41] maria-farooq commented on #1312
@deruelle it is not so far. But it saves Media-Server id.
Can you please guide what kind of changes we should be able to make in a live conference.

[2016-09-29 17:09] deruelle commented on #1312
ConferenceSID should be changed from `ConferenceSID=<random ConferenceSid>` to `ConferenceSID = <Instance ID (of the conf master)>-<random ConferenceSid>`

We will then modify the LB to route HTTP calls to /2012-04-24/Accounts/{AccountSid}/Conferences/{<Instance ID (of the conf master)>-<ConferenceSid>} and /2012-04-24/Accounts/{AccountSid}/Conferences/{<Instance ID (of the conf master)>-<Conferen

[2016-09-29 17:29] ghjansen opened #1422 "Disable workspace migration"
Since workspace migration was required for RestComm upgrades performed from versions lower than 7.6.0 to a version equals or greater than 7.6.0, it should be disabled as default.

https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.application/src/main/webapp/WEB-INF/conf/restcomm.xml#L21

[2016-09-29 17:31] maria-farooq commented on #1312
## Manage the Conference

### Adding a participant:
- Can be done from LCM: where from any node we can join the conference.
- ConferenceSid does not have a say here as we join conference by providing their friendly name.

### Removing a participant:
- Should be done from LCM.
- I have not checked functionality but if callSid is combined already with instanceId and LB will send this request only to

[2016-09-29 19:32] deruelle commented on #1312
@maria-farooq sounds good. How about muting/unmuting a participant. done through CallSid as well ?

[2016-09-30 04:13] croufay opened #1423 "Activating LB on Latest version causes server FATAL error"
07:25:43,451 INFO  [org.jboss.as] (MSC service thread 1-7) JBAS015899: JBoss AS 7.2.0.Final "Janus" starting
07:25:44,444 ERROR [org.jboss.as.server] (Controller Boot Thread) JBAS015956: Caught exception during boot: org.jboss.as.controller.persistence.ConfigurationPersistenceException: JBAS014676: Failed to parse configuration
	at org.jboss.as.controller.persistence.XmlConfigurationPersister.load

[2016-09-30 04:31] croufay commented on #1423
this like is missing in the advanced.conf file

LB_RMI_PORT='2000'          #The port used from RMI connection between RC and LB. Default is 2000.

This is what caused the FATAL error. Restcomm now starts after adding the above to the advanced.conf

[2016-09-30 07:57] otsakir opened #1424 "Application scope for WebTrigger parameters"
Currently any custom WebTrigger parameters (those passed to the query in addition to from/to) have module scope. This means that they are available only in the startup module.

An (advanced) option should be added to the WebTrigger that will make such variables application-scoped so that they survive module iterations.

[2016-09-30 11:38] otsakir opened #1426 "Remove sub-account list from profile page"
Sub-accounts are displayed both in an account profile page (#profile/...), as well as in the dedicated sub-accounts view (#subaccounts/...). We need to remove this redundancy and settle with the dedicated view. It's more powerful, supports paging, sorting, filtering , searching etc.

[2016-09-30 14:08] leftyb opened #1427 "Add cache-no-wav to RC configuration scripts."
need to add option to configure from the configuration scripts.

[2016-09-30 14:42] otsakir commented on #1270
@gvagenas , @deruelle , regarding account removal synchronization with Application Server (RVD) i propose the following:

* Standardization of an (optional) application server REST API consumed by Restcomm. Application servers will implement this if they wish. Restcomm, if configured, will consume it.
* The configuration in restcomm.xml will look like this:
[code]
* RVD will contain a new resource

[2016-09-30 14:45] hrosa opened #1429 "SQL key integrity error on restcomm_conference_detail_records"
Load testing conference scenario throws several SQL exceptions:

Tested on TelScale Restcomm 8.0.0.1364.

[2016-09-30 14:47] hrosa opened #1430 "NPE on VoiceInterpreter postStop"
Load testing conference scenario threw following exception:

Tested using TelScale RestComm 8.0.0.1364

[2016-09-30 14:48] hrosa opened #1431 "Link FSM problem with transitions"
Load testing conference scenario threw the following exception:

Tested using TelScale RestComm 8.0.0.1364

[2016-09-30 15:17] deruelle opened #1432 "Video Conferencing API"
- [ ] General - define Video API proposal for long-term implementation
- [ ] Video conferencing – ability to create conference and add participants (SIP or WebRTC) into conference using the <dial> verb
- [ ]  Re-using what was already done / validating that audio conferencing can be updated with video. Play a video file by example should be possible on the Play verb only if XMS is used via RVD & R

[2016-09-30 15:56] deruelle opened #1433 "Dialogic XMS S3 Recording"
Audio record - ability to save recordings to S3 buckets (currently uses NFS mounts)
Note: likely a testing and documentation effort

[2016-09-30 15:58] deruelle opened #1434 "XMS Audio conference recording"
Allow to record conference using RVD and RESTFul API

[2016-09-30 16:03] deruelle commented on #1187
Duplicate of https://github.com/RestComm/Restcomm-Connect/issues/1176

[2016-09-30 16:03] #1187 closed

[2016-09-30 16:08] deruelle commented on #789
@jaimecasero can you help guide @xhoaluu on how to make that configurable ?

[2016-09-30 16:11] #803 closed

[2016-09-30 16:20] deruelle opened #1435 "XMS MRB"
Add ability to use XMS MRB to scale XMS conferences

[2016-09-30 16:22] deruelle commented on #664
Ensure overall stability and carrier grade performance by running load tests against RestComm/XMS for all typical use cases: announcement, ivr, conferencing, and recording in a CI non regression perf environment. Should check that after the test there is no leak on resources on XMS or Restcomm

[2016-09-30 16:25] deruelle opened #1436 "Automate Function Tests on CI jobs for Restcomm and XMS"
advanced QA including automated non-regression continuous integration tests for the integration/bundle

The testsuite should be the same than the one Restcomm runs against RMS but with XMS as a backend.

Ensure no resource leak for each test case

[2016-09-30 16:25] deruelle commented on #664
Deliver performance benchmarking metrics
Ensure media quality to acceptable standard

[2016-09-30 16:29] deruelle opened #1437 "XMS Call Progress Analysis"
Human voice and answering machine detection. Needs to be added to JSR first then exposed to RestComm

[2016-09-30 16:31] deruelle opened #1438 "Enhancing video conferencing API"
via RVD & RESTFul + RCML

- [ ] layout control

- [ ] text overlays

- [ ]  resolution

- [ ] Adding peer-to-server functionality with video playback

[2016-09-30 16:34] deruelle opened #1439 "XMS Video Conferencing Screen Share"
Allow to share your screen to the whole video conference

[2016-09-30 16:35] deruelle opened #1440 "XMS Management API"
- [ ] Add resource monitoring from XMS to RestComm

- [ ] Add alerting capabilities from XMS to Restcomm

- [ ] Add logging capabiliteis from XMS to RestComm

[2016-09-30 16:36] deruelle opened #1441 "XMS cascading conferences with SFU"

[2016-09-30 20:10] deruelle commented on #1270
@otsakir

This reads as if Restcomm-Connect will receive notifications from the application server while it is the other way around. Your description after that makes sense to me and I'm in agreement

[2016-09-30 22:03] deruelle opened #1442 "NPE on User Agent Manager"
21:56:50,679 ERROR [org.mobicents.servlet.restcomm.telephony.ua.UserAgentManager] (RestComm-akka.actor.default-dispatcher-850) null: java.lang.NullPointerException RestComm ErrorException
at org.mobicents.servlet.restcomm.telephony.ua.UserAgentManager.ping(UserAgentManager.java:304) [restcomm.telephony-8.0.0.6.jar:]
at org.mobicents.servlet.restcomm.telephony.ua.UserAgentManager.keepAlive(UserAgen

[2016-09-30 23:23] xhoaluu commented on #789
I'm ready. Let I go through it a bit first.

[2016-10-03 07:24] jaimecasero commented on #789
@xhoaluu  as disucussed, I think it make sense to use a context param in this case. It will allow each application to configure the number of its dedicated TimerService. In addition, the TimerService is created from the SipStandardContext, so passing the parameter from the context descriptor to the TimerService constructor will be obvious..

[2016-10-03 09:06] gvagenas commented on #1442
@deruelle I can see Restcomm build number is "8.0.0.6" which means this is a special branch and new CI job that created this binary. You think the branch is important for this NPE ?

[2016-10-03 09:46] gvagenas opened #1443 "Amazon S3 for cache storage"

[2016-10-03 10:14] deruelle commented on #1443
In HA environments, if one doesn't want to use an NFS for cache to avoid the complexity of maintaining that at scale and as it requires also some eviction scripts.

Caching of TTS or play becomes an issue as the file asked to be played by the RMS includes the full hostname of the cloud so when RMS tries to get the file, it goes through the LB again and if it lands on another Restcomm Connect node,

[2016-10-03 10:16] deruelle commented on #1443
This is also tied to https://github.com/RestComm/mediaserver/issues/197 until ready

[2016-10-03 10:42] deruelle commented on #1442
@leftyb Any clues on this ?

[2016-10-03 10:43] leftyb commented on #1442
Is the CI job that @maria-farooq created for the CC setup I guess.

[2016-10-03 10:48] deruelle commented on #1442
@leftyb I think this was for telestax server. Ok if this lines doesn't exist. let's close it and keep monitoring the logentries

[2016-10-03 10:50] leftyb commented on #1442
Appeared at the CC1HA

10:24:33,307 DEBUG [org.mobicents.servlet.sip.startup.SipStandardContext] (RestComm-akka.actor.default-dispatcher-469) not acquiring sipApplicationSession=92c9b6bb;RestComm since isManagedThread is null
10:24:33,307 ERROR [org.mobicents.servlet.restcomm.telephony.ua.UserAgentManager] (RestComm-akka.actor.default-dispatcher-470) null: java.lang.NullPointerException
        at

[2016-10-03 10:50] deruelle commented on #1442
@maria-farooq please make sure to merge your work with master

[2016-10-03 11:03] maria-farooq commented on #1442
@deruelle @gvagenas @leftyb

[2016-10-03 11:15] #1385 closed

[2016-10-03 14:00] otsakir opened #1444 "Eliminate singleton pattern from RVD"
Some  components in RVD like RvdConfiguration of CustomHttpClientBuilder are using the singleton pattern. This results in less modular code and causes difficulties in testing. The pattern should be replaced.

[2016-10-03 17:43] gvagenas commented on #1442
@maria-farooq @leftyb @deruelle This issue seems to be caused by the SipServlets race condition with the null outbound interface. To confirm that, please check the boot logs and I believe you will see that there is an exception for null outbound interface

[2016-10-04 03:12] peteroyle opened #1445 "start-restcomm.sh and 'sed' on OS X El Capitan"
Hello,

I've noticed in 7.9.0 that I can't start RestComm under OS X El Capitan any more. I upgraded from 7.6 (which worked for me) so not sure exactly when the "breaking" change was introduced. The issue is likely due to "BSD sed" being on the path under El Capitan, whereas the scripts seem to expect "GNU sed". I suspect this because I installed "GNU sed" via Brew and it started working.

The exa

[2016-10-04 03:18] peteroyle commented on #1445
Attached logs

Original output:
[original.txt](https://github.com/RestComm/Restcomm-Connect/files/507606/original.txt)

Output after applying workaround (installing gnu-sed):
[with_workaround.txt](https://github.com/RestComm/Restcomm-Connect/files/507607/with_workaround.txt)

[2016-10-04 04:34] otsakir commented on #1444
This is issue is fixed.

[2016-10-04 04:34] #1444 closed

[2016-10-04 07:27] deruelle commented on #1445
Thanks for reporting back @peteroyle

@leftyb @ghjansen can you have a look ?

[2016-10-04 08:26] leftyb commented on #1442
@deruelle @gvagenas @maria-farooq I am re-opening the issue until we verify that is solved.

[2016-10-04 15:26] deruelle opened #1446 "Log Issue with SMPP"
We are getting this in Restcomm regularly

`2016-10-04 15:14:46.154 15:14:46,043 ERROR [com.cloudhopper.commons.util.windowing.Window] (bfbed70a.Monitor) The parent Window was garbage collected in this WindowMonitor(): missing call to Window.reset() to stop this monitoring thread (will throw exception to cancel this recurring execution!)`

sergey_vetyutnev [5:23 PM]
@jean.deruelle  @charles  Theor

[2016-10-04 20:23] deruelle commented on #1268
@hrosa how about playing silence in infinite manner whatever the number of pariticpants ?
If they all mute we would still push silence so the calls don't get disconnected.
If there is some disconnection issue for some participants and the conference thinks there is more than 2 participants, we would have the issue but by always playing silence we would allievate this right ?

Do you see any drawba

[2016-10-05 12:09] otsakir commented on #1270
@deruelle , @gvagenas , regarding RVD notification mechanism, there are two points i need a second opinion:

1. Application removal in restcomm is done by a single query that removes all applications that have a specific accountSid property. I think it makes sense to have a notification event for account removal/closing too in addition to application removal. wdyt ?

2. What happens with authentic

[2016-10-05 12:20] deruelle opened #1447 "Allow to specify the SIP Proxy per account"
We need to allow individual accounts (and their sub accounts) to specify which proxy they would like to use ie allow to override the default global proxy defined so they can route traffic to a specific proxy they prefer

[2016-10-05 12:23] deruelle commented on #1270
@otsakir
1. Agreed
2. Agreed. We could also potentially pass the application owner's credentials right away instead of the parent one to avoid too many round trips and complexity + point of failures

[2016-10-05 12:31] leftyb opened #1448 "Fix RC configuration scripts for acapela TTS."

[2016-10-05 14:28] gvagenas opened #1449 "NPE for SmsService at VoiceInterpreter"

[2016-10-05 14:59] #1449 closed

[2016-10-05 17:25] leftyb opened #1452 "Enhance logs_collect script."
Investigate on how to include MonitoringService to logs collect script.
*prepare some scripts to make use of REST API easier and faster.

[2016-10-05 17:31] gvagenas opened #1453 "MonitoringService should return a link to Calls API to get the list of active calls instead of return an array of call details"

[2016-10-05 19:06] gvagenas commented on #750
MonitoringService can be this actor.
Monitoring service receives updates from Call actors for every state change.
The only thing that is left to check is if the MonitoringService will have all the details needed for the creation and update of the CDRs

[2016-10-05 20:46] maria-farooq commented on #1361
impl done, going to test on local HA.
Here is how i will test it.

## scenerio 1 Master on existing node Slave on a Newly added node.
- Start the system with one node
- Make a Conference Call
- Start second Node.
- Add a participant that lands on second node.
- MRB at Slave node should be able to connect master RMS.
- Conference Should mix properly

## scenerio 2 Master on new node Slave on a exis

[2016-10-06 00:14] croufay commented on #1446
I have provided a fix for this on slack window. You will need to replace the current ch-smppxxx.jar file with the one provided.

[2016-10-06 04:35] otsakir commented on #1270
@deruelle , about (2), that was the initial plan. The problem here is that we have to assume that an account in any state other than CLOSED will always allow to be authenticated and return a 200OK in the case the credentials passed are correct. I'm wondering is this a safe assumption to do for accounts in UNINITIALIZED or SUSPENDED state?

Another thing that crossed my mind is that it may confuse

[2016-10-06 08:55] deruelle opened #1454 "Developer Role is too restricting"
if a User has Developer Role, it can't send SMS. It gets a 403 Forbidden: Access to the specified resource has been forbidden.

Double Check that the rest of the APIs for Development are accessible to Developers as well

[2016-10-06 08:57] deruelle opened #1455 "Default JBoss Web Page is showing in case of error or Forbidden access to a resource"
Make a Restcomm page instead of displaying something like

`<html><head><title>JBoss Web/7.2.0.Final - JBWEB000064: Error report</title><style></style> </head><body><h1>JBWEB000065: HTTP Status 403 - Forbidden</h1><HR size="1" noshade="noshade"><p><b>JBWEB000309: type</b> JBWEB000067: Status report</p><p><b>JBWEB000068: message</b> <u>Forbidden</u></p><p><b>JBWEB000069: description</b> <u>JBWEB000

[2016-10-06 09:03] otsakir commented on #1454
Right, it's because the permissions defined in restcomm.xml are restrictive:

[2016-10-06 09:12] deruelle commented on #1454
@gvagenas @otsakir can you review the permissions for the Developer role and allow what makes sense ? IMO the account should be allow to send SMS too to build SMS apps.
On the oher hand, I don't think a Developer should be able to create sub accounts by example https://github.com/RestComm/Restcomm-Connect/blob/master/restcomm/restcomm.application/src/main/webapp/WEB-INF/conf/restcomm.xml#L150

[2016-10-06 09:16] deruelle commented on #1270
your second point makes a lot of sense. I agree with your approach

[2016-10-06 09:20] deruelle commented on #1446
Thanks @croufay. Can you also attach the jar here for the record ?

[2016-10-06 09:20] deruelle commented on #1446
@leftyb can you confirm the jar is working ?

[2016-10-06 09:24] otsakir commented on #1454
@deruelle , @gvagenas , here are some suggestions:

1. RestComm:*:Accounts --> RestComm:Read,Update:Accounts
2. RestComm:Read:SmsMessages -> RestComm:*:SmsMessages
3. Outbound proxies ? any change here ?
4. RestComm:*:Usage -> RestComm:Read:Usage - only read operation are supported here

[2016-10-06 10:56] deruelle commented on #1454
@otsakir @gvagenas

sounds good to me . OutboundProxies shouldn't be able to be changed from Developer account IMO
I would also change

5. RestComm:Delete,Read:Recordings => RestComm:*:Recordings
6. RestComm:Read:Transcriptions => RestComm:*:Transcriptions

What is sandboxes ?

[2016-10-06 11:32] gvagenas opened #1456 "Restrict SupervisorEndpoint and MonitoringEndpoint to SuperAdministrator"
These endpoints should be accessible only to top-level accounts i.e. superadministrators.

[2016-10-06 11:32] gvagenas opened #1457 "Support for multiple security roles for an account"

[2016-10-06 12:31] hrosa commented on #1268
@deruelle that sounds hacky. For every conference in the system we would be playing an infinite track. Not very efficient solution CPU-wise.

Then I'd recommend getting a proper fix as defined in https://github.com/RestComm/mediaserver/issues/114

[2016-10-06 12:46] deruelle commented on #1268
The main issue is not about evicting participants if there are not there anymore but comfort noise because if participants are alone or all muted, the provider kicks them out.

but I agree RestComm/mediaserver#114 would already help a bit and not only for conference in general to reduce consumption and ghost pooling if people drop. Can it be included in 5.1 ?

[2016-10-06 13:16] hrosa commented on #1268
@deruelle the task may be a bit time consuming to be implemented in a proper way, wont make it to 5.1. We can talk better on its priority and re-schedule it in MS roadmap.

[2016-10-06 14:20] vfpuglia opened #1458 "Collect verb will not terminate when using 'number of digits' option"
Collect verb will not terminate when using 'number of digits' option. Call flow:
-Prompt user to enter 5 digits
-Collect 5 digits and set 'number of digits' to 5 to terminate
-After collected, say the 5 digits collected.

When specifying the number of digits to terminate, the script will hang and not move onto the next verb.

Repro application attached.

[collect_verb_issue.zip](https://github.com

[2016-10-06 14:37] deruelle commented on #1419
`14:32:52,178 DEBUG [org.mobicents.servlet.restcomm.telephony.ua.UserAgentManagerProxy] (MSS-Executor-Thread-14) Error response:`

change to

`14:32:52,178 DEBUG [org.mobicents.servlet.restcomm.telephony.ua.UserAgentManagerProxy] (MSS-Executor-Thread-14) Timeout response:`

[2016-10-06 15:33] #1361 closed

[2016-10-06 20:29] deruelle opened #1459 "Include Restcomm XMS Documentation"
Migrate attached doc to asciidoc.
[Getting-started-with-Telestax-RestComm-and-PowerMedia-XMS_final.docx](https://github.com/RestComm/Restcomm-Connect/files/514737/Getting-started-with-Telestax-RestComm-and-PowerMedia-XMS_final.docx)
improve ease of integration as well as much as possible. Discuss possibility of an XMS Docker container

[2016-10-07 06:46] otsakir commented on #1454
For Transcriptions, API allows only GETing and DELETEing. The endpoint (should) return 404 to all other operatios no matter what permissions we have. It seems safe to have * or just add Delete.

Recordings endpoint only allows GET. From a theoretical standpoint '*' permissions here seem more appropriate even if we don't support the methods yet.

[2016-10-07 07:04] deruelle commented on #1454
ok sounds good to me. @gvagenas any comments ?

[2016-10-07 07:11] deruelle commented on #1459
Adding the XMS Docker Container Documentation [Running-XMS-Under-Docker.docx](https://github.com/RestComm/Restcomm-Connect/files/515500/Running-XMS-Under-Docker.docx)

Ideally we should be able to run both XMS and Restcomm in Docker for faster setup and integration

[2016-10-07 07:30] otsakir opened #1460 "RVD's AccountProvider should be initialized lazily"
RVD throws an error on startup because restcommUrl property that is loaded through JBoss connector probing is null. The issue seems to appear after removing singletons (#1444) where restcommUrl was not initialized until an actual request was made to RVD.

We need to make sure restcommUrl is initialized lazily now that the new ApplicationContext class is used.

[2016-10-07 10:23] gvagenas opened #1461 "Dial timeLimit parameter doesn't disconnect calls"

[2016-10-07 11:30] #1461 closed

[2016-10-07 13:01] otsakir commented on #1270
Some thoughts on account retrieval return values and http statuses...

1. Trying to retrieve an account B that is closed using credentials of a parent account A that is still open and has read access to B will (a) return the account with status -> 'CLOSED' and (b) return http status 200 OK.
2. Trying to retrieve closed account B using credentials of any account that has not access to B should retu